//Color

.c-primary {
  color: $primary_color;
}
.c-gray {
  color: $gray-color;
}
.c-gray-light {
  color: $gray-light-color;
}
.c-white {
  color: #ffffff;
}
.c-text {
  color: $text-color;
}
.c-text-light {
  color: $text-color-light;
}

//Background Color

.bg-primary-color {
  background-color: $primary_color;
}
.bg-gray {
  background-color: $gray-color;
}
.bg-gray-light {
  background-color: $gray-light-color;
}
.bg-white {
  background-color: #ffffff;
}
