<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>WowSlides</title>


	<!-- basic needs -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>

	<link rel="stylesheet" type="text/css" href="assets/css/daterangepicker.css"/>

	<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="assets/js/swiper.min.js"></script>
	<script type="text/javascript" src="assets/js/dropzone.js"></script>
	<script type="text/javascript" src="assets/js/jquery.nice-select.min.js"></script>
	<script type="text/javascript" src="assets/js/video.min.js"></script>
	<script type="text/javascript" src="assets/js/custom.js"></script>
		<script src="reporting/bootstrap.min.js"></script>
		<script src="reporting/angular.min.js"></script>
		<script src="reporting/angular-local-storage.js"></script>
		<script src="reporting/truncate.js"></script>
		<script src="reporting/moment.min.js"></script>
		<script src="reporting/daterangepicker.js"></script>
		<script src="reporting/highcharts.js"></script>
		<script src="reporting/highcharts-exporting.js"></script>
    <script src="reporting/jquery-ui.min.js"></script>
  	<script src="reporting/jquery.fileDownload.js"></script>
  	<script src="reporting/snap.svg.js"></script>
  	<script src="reporting/wow.api.js"></script>

		<script src="reporting/app.js"></script>
		<script src="reporting/controller_detailed.js"></script>
		<script type="text/javascript" src="assets/js/select.js"></script>
		<script src="reporting/demo.js"></script>

</head>
<body>


<!-- mobile-menu -->
<div class="mobile-menu">

	<div class="top">

		<!-- user -->
		<div class="user">
			<a href="#">
				<img src="assets/images/araz.png" alt="">
			</a>
		</div>

		<!-- userbar -->
		<div class="user-bar">
			<ul class="centered">
				<li>
					<a href="#" class="toggleButton" data-target=".mobile-search"><img src="assets/images/icons/search.svg" alt=""></a>
					<div class="searchBox mobile-search popUpItem">
						<input type="text" placeholder="Search">
						<button type="submit"><img src="assets/images/icons/search_white.svg" alt=""></button>
					</div>
				</li>
				<li class="notification">
					<a href="#" class="toggleButton" data-target=".mobile-nots"><img src="assets/images/icons/notification.svg" alt=""> <span>2</span></a>
					<div class="notification-box mobile-nots popUpItem">
						<ul>
							<li>
								<span class="img"><a href="#"><img src="assets/images/araz.png" alt=""></a></span>
								<span class="text"><a href="#">Sergiu Bishop</a> liked <a href="#">Flat Footer View</a></span>
								<span class="time">about 2 hours ago</span>
							</li>
							<li>
								<span class="img"><a href="#"><img src="assets/images/araz.png" alt=""></a></span>
								<span class="text"><a href="#">Sergiu Bishop</a> liked <a href="#">Flat Footer View</a></span>
								<span class="time">about 2 hours ago</span>
							</li>
							<li>
								<span class="img"><a href="#"><img src="assets/images/araz.png" alt=""></a></span>
								<span class="text"><a href="#">Sergiu Bishop</a> liked <a href="#">Flat Footer View</a></span>
								<span class="time">about 2 hours ago</span>
							</li>
							<li>
								<span class="img"><a href="#"><img src="assets/images/araz.png" alt=""></a></span>
								<span class="text"><a href="#">Sergiu Bishop</a> liked <a href="#">Flat Footer View</a></span>
								<span class="time">about 2 hours ago</span>
							</li>
							<li>
								<span class="img"><a href="#"><img src="assets/images/araz.png" alt=""></a></span>
								<span class="text"><a href="#">Sergiu Bishop</a> liked <a href="#">Flat Footer View</a></span>
								<span class="time">about 2 hours ago</span>
							</li>
							<li>
								<span class="img"><a href="#"><img src="assets/images/araz.png" alt=""></a></span>
								<span class="text"><a href="#">Sergiu Bishop</a> liked <a href="#">Flat Footer View</a></span>
								<span class="time">about 2 hours ago</span>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</div>

	<div class="upload">
		<a href="#">UPLOAD</a>
	</div>


	<div class="menu-list">
		<ul>
			<li>
				<a href="#">HOW IT WORKS?</a>
			</li>
			<li>
				<a href="#">TEMPLATES</a>
			</li>
			<li>
				<a href="#">DISCOVER</a>
			</li>
			<li>
				<a href="#">BLOG</a>
			</li>
			<li>
				<a href="#">SUPPORT</a>
			</li>
		</ul>
	</div>


</div>
<!-- #mobile-menu -->


<!-- All Page -->
<div class="allPage">



	<!-- main -->
	<div id="main" class="">



		<!-- mobile nav -->
		<div class="mobile-nav">

			<div class="logo">
				<img src="assets/images/logo.svg" alt="">
			</div>

			<div class="menu-bar">
				<img src="assets/images/icons/menuBar.svg" width="30" fill="#fff" alt="">
			</div>

		</div>


		<!-- navbar -->
		<nav id="navbar">

				<!-- logo -->
				<h1 class="logo"><a href="#">wowslides</a></h1>


				<!-- menu -->
				<div class="menu-bar">
					<ul>
						<li>
							<a href="#">HOW IT WORKS?</a>
						</li>
						<li>
							<a href="#">TEMPLATES</a>
						</li>
						<li>
							<a href="#">BLOG</a>
						</li>
						<li>
							<a href="#">SUPPORT</a>
						</li>
					</ul>
				</div>


				<!-- userbar -->
				<div class="user-bar">
					<ul class="centered">
						<li>
							<a class="searchButton" href="#"><img src="assets/images/icons/search.svg" alt=""></a>
						</li>
						<li class="notification">
							<a href="#"><img src="assets/images/icons/notification.svg" alt=""> <span>2</span></a>
						</li>
						<li class="user">
							<a href="#"><img src="assets/images/araz.png" alt=""></a>
						</li>
						<li class="upload">
							<a href="#">UPLOAD</a>
						</li>
					</ul>
				</div>

		</nav>
		<!-- #navbar -->


	</div>
	<!-- #main -->



	<!-- content -->

  	<div ng-app="reportingApp" ng-controller="DetailedReportingCtrl">


  		  	<div id="scene-analytics-controller" class="container" >

  		    	<div class="row analytics">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="{{previewVideo(sceneStats.scene.hashId)}}"><h1 class="big-title">{{sceneStats.scene.name}}</h1></a>

              </div>

  			      	<div class="col-md-12 col-sm-12 col-xs-12 ">

  			      		<div class="background-panel" style="margin-bottom:50px;">
  			      			<div class="row">
                      <div class="col-md-4">
      			      				<table >
      								       <tbody>

        								   		<tr >
        								         	<th >Engagement</th>
        								        	<td >{{sceneStats.engagement ? sceneStats.engagement+'%' : '-'}}</td>
        								      	</tr>

        								      	<tr>
        								         	<th >View</th>
        								        	<td >{{sceneStats.viewCount}}</td>
        								      	</tr>

        								      	<tr >
        								         	<th >Unique View</th>
        								         	<td >{{sceneStats.uniqueViewCount}}</td>
        								      	</tr>

        								      	<tr >
        								         	<th >Total Watch Time</th>
        								         	<td >{{sceneStats.watchTime}}</td>
        								      	</tr>

        								      	<tr >
        								         	<th >ID</th>
        								         	<td >{{sceneStats.scene.hashId}}</td>
        								      	</tr>

        								      	<tr >
        								         	<th >Video Duration</th>
        								         	<td >{{sceneStats.scene.duration}}</td>
        								      	</tr>
																<tr >
        								         	<th >Video Duration</th>
        								         	<td >{{sceneStats.scene.duration}}</td>
        								      	</tr>
        								      	<tr></tr>

          								   </tbody>
          								</table>
                      </div>
                      <div class="col-md-8">
                        <div id="video-info" class="video-info">
      			      				<div class="scene-video-container">
      								    <!--
          								    <video id="video-report" width="100%" height="93%" min-height="430px" min-width="712px">
          								        <source type="video/mp4">
          								    </video>
          								    <div id="chart-video-controls" class="chart-video-controls col-xs-12 lPad0 rPad0">
          								    	<div class="play play-video" style="display: block;">
          											<i id="gplayer-player-icon" class="glyphicon play-icon"></i>
          				                        </div>
          				                        <div class="pause pause-video" style="display: none;">
          											<i class="glyphicon pause-icon"></i>
          										</div>
          								    </div>
          								    -->
          								</div>
      								    <div id="scene-chart-container" class="scene-chart-container"></div>
      			      			</div>
												<div class="row m_t_10">
													<div class="col-md-4 col-sm-6 col-xs-12">
					                  <div class="analysis-grid gray">
															<img src="assets/images/icons/menu.svg" alt="">
					                    <div class="">
																<p>Page</p>
						                    <h3>2</h3>
					                    </div>
					                  </div>
					                </div>
													<div class="col-md-4 col-sm-6 col-xs-12">
					                  <div class="analysis-grid blue">
															<img src="assets/images/icons/view2.svg" alt="">
					                    <div class="">
																<p>View</p>
						                    <h3>300,009</h3>
					                    </div>
					                  </div>
					                </div>
													<div class="col-md-4 col-sm-6 col-xs-12">
					                  <div class="analysis-grid orange">
															<img src="assets/images/icons/clock.svg" alt="">
					                    <div class="">
																<p>Duration Time</p>
						                    <h3>00:00:10</h3>
					                    </div>
					                  </div>
					                </div>
												</div>
          						</div>


  			      			</div>



  			      		</div>

								<div class="row centerForms" >
									<div class="inputRow niceSelectArea" data-pre-target="#pre__keyw">
										<label>LICENCE</label>
										<ui-select ng-model="ctrl.person.selected" theme="select2" class="" title="All Rights Reserved">
												<ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
												<ui-select-choices repeat="item in ctrl.people | filter: $select.search">
													<span ng-bind-html="item.name | highlight: $select.search"></span>
													<small ng-bind-html="item.email | highlight: $select.search"></small>
												</ui-select-choices>
											</ui-select>
									</div>
									<div class="inputRow niceSelectArea" data-pre-target="#pre__keyw">
										<label>LICENCE</label>
										<ui-select ng-model="ctrl.person.selected" theme="select2" class="" title="All Rights Reserved">
												<ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
												<ui-select-choices repeat="item in ctrl.people | filter: $select.search">
													<span ng-bind-html="item.name | highlight: $select.search"></span>
													<small ng-bind-html="item.email | highlight: $select.search"></small>
												</ui-select-choices>
											</ui-select>
									</div>
								</div>
  							<div class="tab-content">
  							  	<div class="tab-pane active" id="heatmap" role="tabpanel" >

  				          			<div class="legend">
  						      			<span class="legend-title">Watched:</span>
  						      			<span class="legend-color color-1" style="background-color: #E4FF7A;"></span>
  						      			<span class="legend-text">One time</span>
  						      			<span class="legend-color color-2" style="background-color: #E5D462;"></span>
  						      			<span class="legend-text">Two times</span>
  						      			<span class="legend-color color-3" style="background-color: #E7A94A;"></span>
  						      			<span class="legend-text">Three times</span>
  						      			<span class="legend-color color-4" style="background-color: #EA531B;"></span>
  						      			<span class="legend-text">Four times</span>
  						      			<span class="legend-color color-5" style="background-color: #EC2904;"></span>
  						      			<span class="legend-text">Five times and more</span>
  						      		</div>


  						      		<div id="table-container" class="simple-table">
  						      			<table class="simple-table">
  										    <thead>
  										      <tr>
  										        <th width="15%">User</th>
  										        <th width="15%">Device</th>
  										        <th width="10%">IP Address</th>
  										        <th width="10%">Page</th>
  										        <th width="5%">Utm Source</th>
  										        <th width="10%">Country/City</th>
  										        <th width="5%">Watched (sec)</th>
  										        <th width="40%">Watched (%)</th>
  										      </tr>
  										    </thead>
  										    <tbody>
  										      <tr ng-repeat="heatMapWithUser in heatMapWithUserList">
  											    <td>

  											    	<span ng-show="'SCORM' != heatMapWithUser.utmSource"> {{ heatMapWithUser.name }} {{ heatMapWithUser.surname }} <br/></span>

  											    	<div ng-if="heatMapWithUser.introductionInput != null" style="color:#630fb7;">
  											    		{{heatMapWithUser.introductionInput.name}} {{heatMapWithUser.introductionInput.surname}}
  											    		<span ng-if="heatMapWithUser.introductionInput.email != null">,</span> {{ heatMapWithUser.introductionInput.email }}
  											    		<span ng-if="heatMapWithUser.introductionInput.userReference != null">,</span> {{ heatMapWithUser.introductionInput.userReference }}
  											    		<br>
  											    	</div>
  											    	{{ heatMapWithUser.date }}
  											    </td>
  											    <td title="{{getDeviceName(heatMapWithUser)}}" >{{ getDeviceName(heatMapWithUser) | characters:20  }}</td>
  											    <td>{{ heatMapWithUser.geoLoc.remoteAddress }}</td>
  											    <td title="{{heatMapWithUser.geoLoc.url}}">{{ heatMapWithUser.geoLoc.url | characters:20 }}</td>
  											    <td>{{ heatMapWithUser.utmSource }}</td>
  											    <td>{{ heatMapWithUser.geoLoc.country }} / {{ heatMapWithUser.geoLoc.city }}</td>
  											    <td>{{ heatMapWithUser.watchTime }}</td>
  											    <td class="heatmaps">
  											    	<svg id="heatMap_{{$index}}" width="100%" height="30px"></svg>
  											    </td>
  											  </tr>
  										    </tbody>
  										</table>
  						      		</div>

  						      		<div class="col-xs-12">
  						      			<div id="preparing-file-modal" title="Preparing report..." style="display: none;">
  											We are preparing your report, please wait...

  											<!--Throw what you'd like for a progress indicator below-->
  											<div class="ui-progressbar-value ui-corner-left ui-corner-right" style="width: 100%; height:22px; margin-top: 20px;"></div>
  										</div>

  										<div id="error-modal" title="Error" style="display: none;">
  											There was a problem generating your report, please try again.
  										</div>
  							      		<div class="text-center" style="margin: 20px 0;">
    						      			<a class="main-btn" ng-show="fetchButtonStatus" ng-click="fetchSceneAnalytics(true)">Load More</a>
  							      		</div>
													<a data-url="{{getExcelPath('heatmap')}}" class="main-btn blue download-report" >
														<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download Heatmap Report
													</a>
  						      		</div>

  								</div>
  							</div>

  						</div>

  			      	</div>

  		    	</div>

  		  	</div>



	<!-- #content -->



<!-- contact -->
	<section class="contact">
		<div class="container centered">

			<p>There are many variations of passages of lorem ipsum available!</p>

			<a href="#" class="action">GET IN TOUCH</a>

		</div>
	</section>
	<!-- #contact -->

		<!-- contactForm -->
	<div class="contactForm">
		<div class="container">

			<h4>GET IN TOUCH</h4>

		 	<div class="col-md-6 col-xs-12 inputBox">
		 		<div class="row">
	                <label>WHO ARE YOU</label>
	                <input type="text" required="" placeholder="YOU OR YOUR COMPANY'S NAME">
            	</div>
            </div>

            <div class="col-md-6 col-xs-12 inputBox">
            	<div class="row">
	                <label>EMAIL TO REACH YOU</label>
	                <input type="email" name="email" required="" placeholder="YOU@YOURCOMPANY.COM">
            	</div>
            </div>

            <div class="col-md-6 col-xs-12 inputBox">
            	<div class="row">
	                <label>TELL US ABOUT IT</label>
	                <textarea placeholder="BRIEFLY, WHAT DO YOU NEED"></textarea>
            	</div>
            </div>

            <div class="pull-right">
            	<button class="button">SUBMIT</button>
            </div>

		</div>
	</div>
	<!-- #contactForm -->


	<!-- footer -->
	<div class="footer">
		<div class="container">


			<!-- left  -->
			<div class="col-md-8 col-xs-12 footerMenu">

				<ul>
					<span class="title">COMPANY</span>
					<li><a href="#">About</a></li>
					<li><a href="#">Team</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Press</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>

				<ul>
					<span class="title">SUPPORT</span>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Tutorials</a></li>
					<li><a href="#">Templates</a></li>
					<li><a href="#">Submit Ticket</a></li>
					<li><a href="#">Affiliate</a></li>
					<li><a href="#">Sitemap </a></li>
				</ul>
				</ul>

				<ul>
					<span class="title">COMPANY</span>
					<li><a href="#">About</a></li>
					<li><a href="#">Team</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Press</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>

			</div>


			<!-- right  -->
			<div class="col-md-4 col-xs-12 blogList">

				<span class="title">BLOG</span>

				<ul>
					<li>
						<span>Sept. 22, 2016</span>
						<a href="#">
							[Video Series] Unlock The Power Of Conversational
						</a>
					</li>
					<li>
						<span>Sept. 22, 2016</span>
						<a href="#">
							Escape The Noise: Join Us At The  Dreamforce
						</a>
					</li>
					<li>
						<span>Sept. 8, 2016</span>
						<a href="#">
							On-Demand Webinar: How to Bring A Data-Driven
						</a>
					</li>
				</ul>

			</div>


		</div>
	</div>
	<!-- #footer -->


 	<!-- copyright  -->
 	<section id="copyright">
 		<div class="container">

 			<div class="logo">
 				<a href="#"><img src="assets/images/logo.svg" alt=""></a>
 			</div>

 			<ul class="copylist">
 				<li><a href="#">English</a></li>
 				<li><a href="#">Español</a></li>
 				<li><a href="#">한국어</a></li>
 				<li><a href="#">日本語</a></li>
 				<li><a href="#">Deutsch</a></li>
 			</ul>

 			<div class="clear"></div>

 			<ul class="copylist">
 				<ul>
					<li><a href="#">TERMS OF SERVICE</a> </li>
					<li><a href="#">ACCEPTABLE USE POLICY </a> </li>
					<li><a href="#">SERVICE LEGAL AGREEMENT</a> </li>
					<li><a href="#">RESOURCE ABUSE POLICY</a> </li>
					<li><a href="#">PRIVACY POLICY </a></li>
				</ul>
 			</ul>


 			<p>WOWSLIDES, INC. COMPANY. COPYRIGHT &copy; 2016</p>


 		</div>
 	</section>
 	<!-- #copyright -->


</div>
<!-- #All Page -->



</body>
</html>
