.dashboard-menu-wrapper {
  .explore-products {

    li {
      font-weight: 600;
      transition: 0.2s;
      background-color: $gobito_color;
      display: flex;
      align-items: center;
      a {
        color: #fff;
        padding: 10px;
      }
      &:hover {
        background-color: lighten($gobito_color, 10%);
        margin-right: -10px;
      }
      .product-img {
        padding: 10px;
        background-color: lighten($gobito_color, 10%);
        img {
          width: 30px;
        }
      }

    }
  }

  h5 {
    padding: 10px 30px;
  }
  .dashboard-menu {
    img {
      width: 25px;
      margin-right: 15px;
          margin-top: -4px;
    }
  }
}


.product-list-wrapper {
  width: 100%;
  margin-right: 30px;

}

.product-list-overflow {
  overflow-y: auto;
  height: 391px;
}

.product-list {
  width: 100%;
  overflow-x: auto;
  .table-style {
    width: 100%;
    tr {
      border: 1px solid #eaeaea;
      transition: 0.2s;
      font-size: 0.9rem;
      &:hover {
        background-color: #f1f1f1;
        transition: 0.2s;
      }
      &.table-head {
        background-color: #f1f1f1
      }
      td,th {
        padding: 20px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      th {
        position: sticky;
        top: 0;
        background-color: $gobito_color;
        color: #fff;
      }
      .price {
        font-size: 1rem;
        color: $gobito_color;
      }
      .close-icon{
        text-align: right;
        img {
          width: 15px;
        }
      }
    }
  }
}
.card-list-wrapper {
  width: 500px;
  height: 390px;
}
.card-list {
  overflow-y: auto;
  box-shadow: 1px 1px 20px 1px #d8d8d8;
  height: 100%;
  width: 100%;
}

.card-wrapper {
  width: 280px;
  height: 160px;
  background: linear-gradient(to right, #3b4a66, #16191b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  &.active {
    background: linear-gradient(to right, #73c8a9, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &:hover {
    background: linear-gradient(to right, #73c8a9, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: background-color 0.5s ease;
  }
  .card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-bank {
      height: 40px;
      background: #fff;
      border-radius: 5px;
    }
  }
  .card-number {
    font-size: 1.5rem;
    text-shadow: 1px 2px 3px #000;
    margin-top: 20px;
  }
  h6 {
    margin-top: 5px;
  }
}

.card-create {
  text-align: center;
  background: linear-gradient(to right, #888888, #e0e0e0);
  margin-top: 20px;
  &:hover {
    background: linear-gradient(to right, #888888, #4e4e4e);
  }
  img {
    width: 75px;
    margin-bottom: 15px;
  }
}

.card-list-horizontal {
  width: 100%;
  .card-list {
    height: 220px;
    display: flex;
    align-items: center;
    padding: 10px;
    a {
      margin: 0px 10px;
    }
    .card-create {
      margin-top: 0;
    }
    .card-wrapper {
      margin-bottom: 0;
    }
  }
}

.filter-inputs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .form-group {
    margin-bottom: 20px;
  }
  .form-search {
    width: 45%;
  }
  @media (max-width: 768px) {
    display: block;
    .form-search {
      width: 100%;
    }
  }
}

.welcome-section {
  text-align: center;
  img {
    width: 500px;
  }
  h5 {
    font-size: 2.5rem;
    color: $light_text_color;
  }
  p {
    font-size: 1.4rem;
    color: $gobito_color;
  }
  @media (max-width: 768px) {
    img {
      width: 300px;
    }
  }
}

.product-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px 0;
  box-shadow: 1px 1px 20px 1px #d8d8d8;
  .product-intro {
    text-align: center;
    width: 40%;
  }
}

.payment-page {
  display: flex;
  justify-content: space-between;

}

.success-message {
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  h1 {
    font-size: 3rem;
    margin-top: 20px
  }
  p {
    text-align: center;
    font-size: 1.2rem;
    color: $light_text_color;
    max-width: 50%;
    margin: auto;
    margin-top: 20px;
  }
}

.store-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  padding-top: 0;
  h3 {
    color: $light_text_color;
  }
  img {
    max-width: 150px;
  }
  @media (max-width: 768px) {
    padding-top: 20px;
    img {
      max-width: 100px;
    }
  }
}

.price-info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
  h3 {
    color: $light_text_color;
  }
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 7px);
}
.padding-secure {
  padding: 40px;
  @media (max-width: 768px) {
    padding: 0
  }
}

.order-detail-dd {
  width: 300px;
  padding: 0;
  font-size: 0.9rem;
  ul {
    padding: 5px 10px;
    background: whitesmoke;
    li {
      padding: 10px 5px;
      span {
        float: right;
      }
    }
  }
  .subtotal {
    font-weight: 600;
  }
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid $p_border_color;
  align-items: center;
  img {
    max-width: 200px;
  }
  .list-style {
    text-align: right;
    width: 240px;
    li {
      padding: 0;
      font-size: 0.8rem;
      p {
        min-width: 100px;
      }
    }
  }
  @media (max-width: 767px) {
    display: block;
    text-align: center;
    .list-style {
      text-align: left;
      margin: auto;
    }
  }
}

.list-style {
  color: $light_text_color;
  li {
    padding: 5px 10px;
    font-weight: 600;
  }
  p {
    color: $gobito_color;
    min-width: 200px;
    display: inline-block;
    margin-bottom: 0;
  }
  .total {
    background: $gobito_color;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    p {
      color: #fff;
    }
  }
}

.payment-box {
  border: 1px solid $p_border_color;
  padding: 20px;
}
.payment-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  align-items: center;
  span {
    vertical-align: middle;
    font-size: 0.9rem;
  }
  a {
    color: $gobito_color;

  }
}

.payment-method {
  margin-left: 20px;
  h5 {
    margin: 20px 0;
    color: $p_text_color;
    font-style: italic;
    margin-bottom: 10px;
  }
  img {
    max-width: 100px;
  }
  p {
    font-size: 0.8rem;
    color: $light_text_color;
  }
}

.invoice-to-info {
  display: flex;
  justify-content: space-between;
  background: #f3f3f2;
  margin: 15px 0;
  .total-info {
    background: #9f9f9f;
    color: #fff;
    padding: 34px 35px;
    h3 {
      font-weight: 700;
    }
    span {
      color: #fff;
      font-weight: 100;
      margin-left: 20px;
    }
  }
  .person-info {
    padding: 10px 0 5px 20px;
    p {
      color: $p_text_color;
      margin-bottom: 0;
    }
    h5 {
      color: $gobito_color;
    }
    .address {
      font-size: 0.7rem;
      max-width: 250px;
      color: $light_text_color;
    }
  }
  @media (max-width: 768px) {
    display: block;
    .person-info {
      padding: 15px;
      h4 {
        font-size: 1.1rem;

      }
    }
    .total-info {
      padding: 15px;
      h2 {
        font-size: 1.3rem;
      }
    }
  }
}
.pay-footer {
  display: flex;
  justify-content: space-between;
  .list-style {
    min-width: 337px;
  }
}


.action-buttons {
  .button-primary {
    color: $light_text_color;
    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .payment-page {
    display: block;
    .display-3 {
      text-align: center;
    }
  }
  .display-4 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  #dashboard-inner {
    padding: 0;
  }
  .card-list-wrapper {
    width: 100%;
  }
  .pay-footer {
    display: block;
  }
}

@media print {
 /* All your print styles go here */
 .dashboard-menu-wrapper, .profile-cover-image, button{
   display: none !important;
 }
 .invoice-header {
   display: flex;
   text-align: auto;
   .list-style {
     text-align: right;
     margin: 0;
   }
 }
.invoice-to-info {
  display: flex;
    .person-info {
      padding: 10px;
      margin-right: 10px;
      h4 {
        font-size: 1.1rem;
      }
    }
    .total-info {
      padding: 10px;
      text-align: center;
      span {
        margin-left: 0;
        display: block;
      }
      h2 {
        font-size: 1.3rem;
      }
    }
  }
  .pay-footer {
    display: flex;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
}
