#sutori {
  font-family: 'Dosis', sans-serif;

  /*Theme Color */
  $primary_color: #00cebe;
  $secondary_color: #8447a7;
  $third-color: #f8a132;
  $gray_color: #868686;

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: 'Dosis', sans-serif;
  }

  .dropdown-toggle::after {
    display: none;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
  }
  #navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #fff;
    z-index: 3;
  }
  #content {
      padding: 20px 0;
  }
  .mini-img {
    width: 40px;
    height: 40px;
    border: 2px solid $primary_color;
    border-radius: 50%;
    margin-right: 5px;
  }

  .form-control {
    border-radius: 0;
    &:focus {
      border-color: $secondary_color;
    }
  }

  .big-search-input.form-control {
    padding: 1rem;
    margin-top: 20px;
    text-align: center;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 98% 50%;
  }

  .primary-color {
    color: $primary_color;
  }
  .secondary-color {
    color: $secondary_color;
  }
  .gray-color {
    color: $gray_color;
  }

  .nav {
    border-bottom: 1px solid #d8d8d8;
    .nav-link.active {
      border-bottom: 2px solid $secondary_color;
      box-shadow: 1px 1px 10px 1px #d8d8d8;
    }
  }

  .catalog-wrapper {
    justify-content: normal;
    margin: 10px 0;
    @media (max-width: 768px) {
        justify-content: center;
    }
  }
  .card-catalog {
    width: 21.8rem;
    margin: 10px;
    text-align: center;
    height: auto;
    border: none;
    border-bottom: 1px solid $secondary_color;
    box-shadow: 1px 1px 20px 3px #d8d8d8;
    transition: 0.3s;
    &:hover {
      box-shadow: 1px 1px 5px 1px #d8d8d8;
      transition: 0.3s;
    }
    .card-img {
      width: 100%;
      height: 240px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        width: 27rem;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 20rem;
    }
    @media (max-width: 575px) {
        width: 100%;
    }
  }

  .story-main-img {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    position: relative;
    @media (max-width: 768px) {
      height: 240px;
    }
  }

  .story-default-bg {
    background-repeat: initial;
    background-size: initial;
    background-position: initial;
  }

  .container-info {
    margin-top: -20px;
    box-shadow: 1px 5px 15px 1px #e2e2e2;
  }

  .profile-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .profile-title {
    display: flex;
    align-items: center;
    span {
      font-size: 1.2rem;
      padding-right: 5px;
    }
  }

  .btn {
    border-radius: 0;
    cursor: pointer;
    padding: 0.7rem 2rem;
    font-weight: 600;
    font-size: 1.1rem;
    background: #fff;
    &:focus {
      box-shadow: none;
    }
  }
  .btn-primary-color {
    border-color: $primary_color;
    color: $primary_color;
    &:hover {
      border-color: $primary_color;
      background: $primary_color;
      color: #fff;
    }
  }
  .btn-secondary-color {
    border-color: $secondary_color;
    color: $secondary_color;
    &:hover {
      border-color: $secondary_color;
      background: $secondary_color;
      color: #fff;
    }
  }
  .btn-gray-color {
    border-color: $gray_color;
    color: $gray_color;
    &:hover {
      border-color: $gray_color;
      background: $gray_color;
      color: #fff;
    }
  }
  .show > .btn-outline-info.dropdown-toggle  {

  }
  .action-button {
    display: flex;
    button {
      margin-right: 10px;
    }
  }

  .story-title {
    margin-bottom: 80px;
    p {
      width: 70%;
      margin: auto;
    }
  }

  .no-border-input {
    border: none;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    color: $primary_color;
    &:focus {
      outline-color: #fff;
    }
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
  .no-border-textarea {
    border: none;
    width: 100%;
    text-align: center;
    padding: 1rem;
    height: 100px;
    font-size: 1.5rem;
    color: #666;
    &:focus {
      outline-color: #fff;
    }
  }

  .no-border-input-md {
    @extend .no-border-input;
    font-size: 2.5rem;
  }
  .no-border-textarea-xs {
    @extend .no-border-textarea;
    font-size: 1rem;
    height: 75px;
    text-align: left;
  }

  .absolute-right-bottom {
    position: absolute;
    right: 0;
    bottom: 25px;
  }

  .mini-btn {
     padding: 0.5rem 1rem;
     &:hover {
       background-color: #eee;
     }
  }

  .insert-heading {
    position: relative;
    input {
      padding: 1rem 8rem;
      @media (max-width: 768px){
        padding-left: 2rem;
        font-size: 2rem;
      }
    }
  }

  .upload-box {
    text-align: center;
    padding: 20px;
    border: 2px dashed $p_border_color;
    label {
      cursor: pointer;
    }
    img {
      width: 40px;
    }
    input[type=file] {
      display: none;
    }
  }

  .create-new-box {
    position: absolute;
    top: 0;
    left: calc(50% - 25px);
    z-index: 10001;
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: $third-color;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
    img {
      width: 20px;
    }
    &:hover {
      background-color: #fc4a1a;
        transition: all 0.5s ease;
    }
    @media (max-width: 767px) {
      left: -10px;
    }
  }

  .create-new-dropdown {
    left: calc(50% - 90px);
    img {
      width: 20px;
      margin-right: 10px;
    }
    .dropdown-item {
      padding: 10px 1.5rem;
      &:active {
        background-color: $primary_color;
      }
    }
    @media (max-width: 767px) {
      left: 20px;
    }
  }

  .edit-image {
    position: absolute;
    left: 20px;
    top: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    transition: all 200ms ease;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.7);
      transition: all 200ms ease;
      padding: 15px;
    }
    img {
      width: 25px;
    }
  }

  .canvas {
    align-items: center;
    display: flex;
    height: 10em;
    justify-content: center;
  }

  /* Spinner 1 starts here */
  .spinner1 {
    align-items: center;
    border: .3em solid transparent;
    border-top: .3em solid $primary_color;
    border-right: .3em solid $primary_color;
    border-radius: 100%;
    display: flex;
    justify-content: center;
  }

  .spinnerMax {
    animation: spinnerOne 4s linear infinite;
    height: 3em;
    width: 3em;
  }

  .spinnerMid {
    animation: spinnerOne 3s linear infinite;
    height: 2.4em;
    width: 2.4em;
  }

  .spinnerMin {
    animation: spinnerOne 2s linear infinite;
    height: 1.8em;
    width: 1.8em;
  }

  @keyframes spinnerOne {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
  /* Spinner 1 ends here */


  .share-social {
    ul {
      display: flex;
      justify-content: space-around;
    }
    li {
      display: inline-block;
      img {
        width: 80px;
      }
    }
  }

  .share-link {
    margin-top: 30px;
    input {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      color: $p_text_color;
    }
  }
  .story-timeline {
    position: relative;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    &:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #ccc;
      left: 50%;
      margin-left: -1.5px;
    }
    > li {
      margin-bottom: 20px;
      position: relative;
      width: 50%;
      float: left;
      clear: left;
      z-index: 2;
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      > {
        .timeline-panel {
          width: 92%;
          float: left;
          position: relative;
          -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          &:before {
            position: absolute;
            top: 26px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #ccc;
            border-right: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
          }
          &:after {
            position: absolute;
            top: 27px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0 solid #fff;
            border-bottom: 14px solid transparent;
            content: " ";
          }
        }
        .timeline-badge {
          position: absolute;
          top: 25px;
          right: -15.5px;
          width: 30px;
          height: 30px;
          border: 5px solid #fff;
          border-radius: 50%;
          background-color: #666;
          z-index: 1000;
          &.badge-video {
            background-color: $primary_color;
          }
          &.badge-image {
            background-color: $secondary_color;
          }
        }
      }
      &:nth-child(2n) > .timeline-panel {
        float: right;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
    .timeline-heading {
      padding: 20px;
      iframe {
        width: 100%;
        max-height: 350px;
      }
    }
    .timeline-heading {
      h2 {
        margin-bottom: -10px;
      }
    }
  }

  .timeline-badge {
    > a {
      color: #C5C7C5 !important;
    }
    a:hover {
      color: #000 !important;
    }
  }

  .timeline-title {
    margin-top: 0;
    color: inherit;
  }

  .timeline-body > {
    p, ul {
      padding: 20px;
      margin-bottom: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }

  .timeline-footer {
    padding: 10px;
    background-color: #f4f4f4;
    height: 50px;
    > a {
      margin-right: 10px;
    }
    .timline-icon-img {
      width: 20px;
      margin-right: 5px;
    }
    span {
      vertical-align: middle;
    }
  }

  .tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity = 0);
    &.in {
      /*opacity:0;
      filter:alpha(opacity=80);*/
    }
    &.top {
      margin-top: -2px;
    }
    &.right {
      margin-left: 2px;
    }
    &.bottom {
      margin-top: 2px;
    }
    &.left {
      margin-left: -2px;
    }
    &.top .tooltip-arrow, &.left .tooltip-arrow, &.bottom .tooltip-arrow, &.right .tooltip-arrow {
      bottom: 0;
      left: 0;
      margin-left: 0;
      border-left: 0 solid transparent;
      border-right: 5px solid transparent;
      border-top: 0 solid #000;
    }
  }

  .tooltip-inner {
    width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #313131;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
  }

  .timeline > li {
    &:nth-child(2n) {
      float: right;
      clear: right;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &:nth-child(2) {
      margin-top: 60px;
    }
    &:nth-child(2n) > .timeline-badge {
      left: -14.5px;
    }
  }

  @media (max-width: 767px) {
    ul.timeline {
      &:before {
        left: 15px;
      }
      > li {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
        > {
          .timeline-panel {
            width: calc(100% - 50px);
            width: -moz-calc(100% - 50px);
            width: -webkit-calc(100% - 50px);
          }
          .timeline-badge {
            left: 1px;
            margin-left: 0;
            top: 25px;
          }
          .timeline-panel {
            float: right;
            &:before {
              border-left-width: 0;
              border-right-width: 15px;
              left: -15px;
              right: auto;
            }
            &:after {
              border-left-width: 0;
              border-right-width: 14px;
              left: -14px;
              right: auto;
            }
          }
        }
      }
    }
    .timeline > li {
      &:nth-child(2n)
       {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
        > .timeline-badge {
          left: 1px;
        }
      }
    }

  }

  .bg-shadow {
    box-shadow: 1px 1px 25px 1px #e2e2e2;
    padding: 20px 40px;
  }
  .nav-link {
    font-size: 1.4rem;
  }
  .navbar-toggleable-md .navbar-collapse {
    align-items: center;
  }
  .nav-item.active {
    border-bottom: 2px solid $primary_color;
  }

  #footer {
    margin-top: 150px;
  }

  .add-story-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .add-story-wrapper {
      padding: 30px;
    }
    h2 {
      padding-top: 20px;
    }
  }

  .clearfix {
    z-index: 1 !important;
  }

  .profile-page {
    display: flex;
    align-items: center;
    .mini-img {
      width: 80px;
      height: 80px;
    }
    span {
      font-size: 1.5rem;
    }
  }

  .no-result-area {
    text-align: center;
    padding: 30px;
    p {
      margin-top: 20px;
      font-size: 1.5rem;
    }
  }

  .collaborators-area {
    margin: 20px 0;
  }
  .collaborate-tag {
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 5px 1px #cccccc;
    display: inline-block;
    margin-left: 0;
    span {
      vertical-align: middle;
    }
  }
  .close-icon {
    width: 25px;
    margin-left: 20px;
    padding: 5px;
  }

  .errorContent {
    h1 {
      font-size: 10rem;
      color: $light_text_color;
    }
    p {
      font-size: 1.5rem;
    }
    img {
      max-height: calc(100vh - 400px);
    }
    a {
      color: $secondary_color;
      font-weight: 700;
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 8rem;
      }
      img {
        max-width: 500px;
      }
    }
  }

  @media (max-width: 992px) {
    .mobile-navbar {
        text-align: center;
        .nav-item {
          justify-content: center;
          margin-left: 0;
        }
        .form-inline {
          justify-content: center;
        }
    }
    .profile-area {
      padding-top: 20px;
    }
  }
}
