.mini-jumbotron {
  padding: 1rem 2rem;
}

.wiki-header {
  font-weight: 300;
}

.wiki-info {
  @extend .d-flex;
  @extend .justify-content-between;
  border-bottom: 1px solid $p_border_color;
  margin: 10px 0;
  padding-bottom: 10px;
  @extend .align-items-center;
}
.author-detail {
  font-size: 0.9rem;
  p {
    margin-bottom: 0;
  }
  .show-update {
    color: $primary_color;
  }
}
.rate {
  font-size: 2em;
  vertical-align: middle;
  color: gray;
  margin-left: 5px;
}

.action-area {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  padding: 15px 5px;
  border-top: 1px solid $p_border_color;
  @media (max-width: 544px) {
    display: block !important;
    text-align: center;
  }
}
.action-buttons {
  margin-bottom: 0;
  li {
    display: inline-block;
    padding: 0 5px;
    a {
      vertical-align: middle;
    }
    img {
      padding-right: 5px;
    }
    @media (max-width: 544px) {
      margin-bottom: 10px;
    }
  }
  .view {
    padding-bottom: 5px;
    padding-right: 5px;
  }
}

.wiki-content {
  img {
    max-width: 100%;
  }
}

.wiki-detail-wrapper {
  display: flex;
  .left-menu {
    max-width: 300px;
    margin-left: 10px;
  }
  .wiki-content-wrapper {
    width: 100%;
    margin: 0 20px;
    margin-bottom: 30px;
  }
  @media (max-width: 768px) {
    display: block;
    .left-menu {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
    .wiki-content-wrapper {
      margin: 0;
    }
  }
}
