
.display-4 {
  color: $light_text_color;
  margin-bottom: 20px;
}

.list-style {
  .list-parent-title {
    padding: 5px 0;
    font-size: 1.2rem;
    color: #394d5f;
  }
  .list-child-style {
    padding-left: 10px;
    font-size: 0.9rem;
    li {
      padding: 4px 0;
    }
  }
}

.border-top {
  border-top: 1px solid $p_border_color;
  padding-top: 5px;
}
.border-bottom {
  border-bottom : 1px solid $p_border_color;
}

.thin-text {
  margin-top: 10px;
  font-size: 0.8rem;
  a {
    color: $gobito_color;
  }
}

.list-bg-style {
  padding: 10px 0;
  li {
    padding: 10px;
  }
  li:nth-child(odd) {
    background-color: #e8e8e8;
  }
}

.horizontal-list {
  li {
    display: inline-block;
    padding-right: 10px;
    font-size: 0.8rem;
  }
}

.content {
  color: #636363;
  padding-bottom: 10px;
}
.border-style {
  padding: 20px;
  border: 1px solid #e4e4e4;
  margin: 10px 0;
}

.border-small-title {
  padding: 5px 0;
  font-size: 1.1rem;
  color: #394d5f;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 5px;
}

.color-primary {
  color: $primary_color;
}

.background-primary {
  background: $primary_color;
}

.color-gobito {
  color: $gobito_color;
}

.background-gobito {
  background: $gobito_color;
}


.question-media {
  margin-top: 10px;
  .media {
    @extend .border-style;
    margin: 10px 0;
    .user-img {
      width: 80px;
      border-radius: 50%;
      @media (max-width: 544px) {
        width: 40px;
      }
    }
    .user-name {
      font-size: 1rem;
      color: $primary_color;
    }
  }
  .stars {
    min-width: 100px;
    text-align: right;
    img {
      width: 25px;
    }
  }
  .rate {
    font-size: 1.5rem;
  }
}

.date {
  color: #868686;
  font-size: 0.9rem;
}
.scroll-wrapper {
  @media (max-width: 768px) {
    overflow-x: auto;
    white-space: nowrap;
  }
}
.table {

  thead {
    background: antiquewhite;
  }
  img {
    width: 30px;
  }
}
.question-wrapper {
  .media {
    margin-bottom: 0;
  }
  .question-content {
    padding: 20px;
    border: 1px solid #e4e4e4;
    border-top: 0;
  }
  .question-category{
    padding: 10px 20px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    background-color: #e4e4e4;
    font-size: 0.9rem;
  }
  .reply-question {
    background-color: antiquewhite;
  }
}
.left-line {
  padding-left: 10px;
  border-left: 5px solid $primary_color;
}

.question-assign {
  @extend .border-style;
  margin: 10px 0;
  background-color: antiquewhite;
}

.reply-textarea {
  @extend .border-style;
  margin: 10px 0;
  button {
    margin: 10px 0;
  }
}

.action-btn {
  display: flex;
  justify-content: space-between;
  .btn-link {
    color: #5bc0de;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    img {
      padding-right: 5px;
    }
  }
}

.attachments {
  li {
    @extend .border-style;
    margin: 10px 0;
  }
}
.file-input {
  input {
    display: none;
  }
}

label {
  font-size: 16px;
}

.tag-style {
  .tag-child-style {
    li {
      display: inline-block;
      padding: 5px 10px;
      margin: 4px 2px;
      background-color: rgba($primary_color, 0.25);
      a {
            margin-left: 5px;
      }
    }
  }
  .tag-horizontal {
    overflow-x: auto;
    max-height: 60px;
    overflow-y: hidden;
    min-width: 80%;
    width: 80%;
    margin: auto;
    display: flex;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.alphabet {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border: 1px solid $p_border_color;
  margin: 20px 0;
  font-size: 1.2rem;
  li.active {
    padding: 0 5px;
    border-bottom: 5px solid $primary_color;
  }
  @media (max-width: 380px) {
    font-size: 1rem;
  }
}

.word-wrapper {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 15rem;
  -moz-column-width: 15rem;
  column-width: 15rem;
  .letter {
    .left-line {
      font-size: 1.5rem;
    }
    ul {
      margin-left: 15px;
    }
    .more {
      color: #2196f3;
      font-size: 0.9rem;
    }
  }
  .selected-word {
    font-size: 1.5rem;
    a {
      color: $primary_color;
    }
  }
  @media (max-width: 544px){
    -webkit-column-width: 10rem;
    -moz-column-width: 10rem;
    column-width: 10rem;
    padding: 5px;
  }
  @media (min-width: 545px) and (max-width: 768px){
    -webkit-column-width: 12rem;
    -moz-column-width: 12rem;
    column-width: 12rem;
    padding: 5px;

  }
}

.word-info {
  display: flex;
  justify-content: space-between;
  @media (max-width: 544px) {
    display: block;
    .word-edit-btn {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.view {
  span {
    padding-left: 5px;
    vertical-align: middle;
    color: $light_text_color;
  }
}

.text-input {
  @extend .w-100;
  padding: 10px;
  border-color: $p_border_color;
}

.button-style {
  button, a {
    width: 180px;
    cursor: pointer;
    margin-top: 10px;
    &:hover {
      box-shadow: 1px 1px 5px 1px #c5c5c5;
    }
    &.btn-outline-secondary {
      color: #616161;
      &:hover {
      color: #fff;
      background-color: #ccc;
      border-color: #ccc;
      }
    }
    &.btn-outline-success {
      color: #5cb85c;
      &:hover {
      color: #fff;
      background-color: #5cb85c;
      border-color: #5cb85c;
      }
    }
    &.btn-outline-warning {
      color: #f0ad4e;
      &:hover {
      color: #fff;
      background-color: #f0ad4e;
      border-color: #f0ad4e;
      }
    }
    &.button-primary {
      color: $gobito-color;
      &:hover {
      color: #fff;
      background-color: $gobito-color;
      border-color: $gobito-color;
      }
    }
  }

}
.create {
  padding: 40px 0;
  border: 1px solid $p_border_color;
  margin-top: 20px;
  .text {
    color: $light_text_color;
    font-size: 2rem;
    text-align: center;
    @media (max-width: 769px) {
      font-size: 1.5rem;
    }
  }
}

form {
  .form-control {
    border: none;
    border-bottom: 1px solid $p_border_color;
    border-radius: 0;
    &:focus {
      outline: none;
      border-color: $gobito_color;
       border-bottom-width: 2px;
       transition-duration: 0.3s;
    }
    p{
      padding: 5px;
    }
  }
}

.form-control-file {
  input {
    display: none;
  }
  .form-control-file-box {
    display: block;
    width: 100%;
    background-color: #ddd;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
    }
  }
}
.big-search {
  margin: auto;
  width: 80%;
  margin-top: 20px;
  line-height: 2rem;
  text-align: center;
  @media (max-width: 768px){
    line-height: 1.5rem;
  }
}
.form-group {
  margin-bottom: 20px;
}

.pagination {
  justify-content: center;
  .page-item.active .page-link {
    background-color: $primary_color;
    border-color: $primary_color;
  }
  .page-link {
    color: $p_text_color;
    padding: 0.7rem 1.4rem;
    @media (max-width: 544px) {
      padding: 0.4rem .7rem;
    }
  }
  img {
    width: 15px;
  }
  .previous {
    img {
      transform: rotate(180deg);
    }
  }
}

.line {
  border-bottom: 1px solid $p_border_color;
  margin-bottom: -24px;
  margin-top: 25px;
}

.history-list-style {
  margin: auto;
  margin-bottom: 20px;
  .history-list-item {
    display: flex;
    padding: 10px;
    .mini-img {
      width: 50px;
      height: 50px;
    }
  }
}


//Input Style
.form-group 			  {
  position:relative;
  margin-bottom:45px;
  padding: 0;
  min-width: 100px;
  textarea {
    padding:1rem 0;
  }
  select {
    padding: 0;
  }
  .text-input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
  }
  input:focus 		{ outline:none; }

  /* LABEL ======================================= */
  .input-label {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    @media (max-width: 544px) {
      font-size: 15px;
    }
  }

  /* active state */
  input:focus ~ label		{
    top:-20px;
    font-size:14px;
    color: $gobito_color;
  }
  input:valid ~ label		{
    top:-20px;
    font-size:14px;
    color: $gobito_color;
  }
  textarea::placeholder {
    color:#999;
    font-size:18px;
    font-weight:normal;
  }
}

.publish-status {
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid $p_border_color;
  font-size: 1rem;
}

.profile-cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  width: 100%;
  .profile-cover {
    min-height: 200px;
    width: 100%;
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba($primary_color , 0.6));
    .nav-link {
      color: #fff;
    }
  }
  &.dashboard {
    min-height: 82px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    .profile-cover {
      min-height: 82px;
    }
    @media (max-width: 576px) {
      min-height: 82px;
      .profile-cover {
        min-height: 82px;
      }
    }
  }
}

.catalog-wrapper {
  justify-content: space-between;
  margin: 10px 0;
  @media (max-width: 767px) {
      justify-content: center;
  }
}
.card-catalog {
  width: 22rem;
  margin: 10px 0;
  height: auto;
  border: none;
  box-shadow: 1px 1px 20px 3px #d8d8d8;
  transition: 0.3s;
  &:hover {
    box-shadow: 1px 1px 5px 1px #d8d8d8;
    transition: 0.3s;
  }
  .card-img {
    width: 100%;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .card-img-layer {
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
      width: 27rem;
  }
  @media (min-width: 768px) and (max-width: 991px) {
      width: 20rem;
  }
  @media (max-width: 575px) {
      width: 100%;
  }
}


.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .card-header-title {
    margin-bottom: 0;
    padding-left: 10px;
  }
}

.card-text {
  li {
    font-size: 0.9rem;
    padding-bottom: 10px;
  }
  a {
    color: #0275d8;
  }
}

.form-check {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.form-check {
  &:hover input ~ .control__indicator {
    background: #ccc;
  }
  input {
    &:focus ~ .control__indicator {
      background: #ccc;
    }
    &:checked ~ .control__indicator {
      background: $gobito_color  ;
    }
  }
  &:hover input:not([disabled]):checked ~ .control__indicator {
    background: $gobito_color;
  }
  input {
    &:checked:focus ~ .control__indicator {
      background: $gobito_color;
      transition: 0.4s;
    }
    &:disabled ~ .control__indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.form-check input:checked ~ .control__indicator:after {
  display: block;
  transition: 0.4s;
}

.form-check-label {
  padding-left: 0;
  color: #6d6d6d;
  .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: 0.4s;
  }
  input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
}

.control--radio {
  .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
  }
  input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
  }
}

.text-muted {
  color: $gobito_color !important;
}

::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
  width: 12px;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #fff;
  height: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #d8d8d8;
  width: 12px;
}



nav[role="navigation"] {
  text-align: center;
}

.cd-pagination {
  width: 90%;
  max-width: 768px;
  margin: 0 auto 4em;
  text-align: center;
  -webkit-box-shadow: 1px 5px 10px #eaeaea;
  -moz-box-shadow: 1px 5px 10px #eaeaea;
  box-shadow: 1px 5px 10px #eaeaea;
  li {
    display: none;
    &.button {
      display: inline-block;
    }
  }
  a {
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    color: #565656;
  }
  .active {
    background-color: #3f515d;
    border-color: #3f515d;
    color: #fff;
    pointer-events: none;
    a {
      color: #fff;
    }
  }
  &.no-space {
    width: auto;
    max-width: none;
    display: inline-block;
    border: 1px solid #e6e6e6;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li {
      margin: 0;
      float: left;
      border-right: 1px solid #e6e6e6;
      &:last-of-type {
        border-right: none;
        a {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
      }
      &:first-of-type a {
        -webkit-border-radius: 0.25em;
        -moz-border-radius: 0.25em;
        border-radius: 0.25em;
      }
    }
  }
  a, span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.6em 1.2em;
    font-size: 1rem;
  }
  a.disabled {
    &::before, &::after {
      opacity: 0.4;
    }
  }
  &.no-space {
    a, span {
      float: left;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 0.5em 1em;
      border: none;
    }
  }
}

@media only screen and (min-width: 769px) {
  .cd-pagination li {
    display: inline-block;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-pagination {
    margin: 0 auto 2em;
  }
}

.card-position-three {
  display: flex;
  justify-content: space-around;
  @media (max-width: 769px) {
    display: block;
    .card {
      margin: auto;
    }
  }
  .card {
    width: 20rem;
    margin-bottom: 20px;
    @media (max-width: 1200px) and (min-width: 995px) {
      width: 16rem;
    }
  }
}

.gallery-wrapper {
  img {
      max-height: 160px;
      max-width: 100%;
  }
  .image-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .border-style {
    transition: 0.3s;
    &:hover {
      border-color: $gobito_color;
      transition: 0.3s;
    }
  }
}
.image-name {
  position: absolute;
  bottom: -17px;
  left: 0;
  right: 0;
  padding: 3px 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.published {
  a {
    color: $primary_color;
  }
}

.dashboard-menu-wrapper.slide {
  left: -250px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

#content {
  padding-bottom: 70px;
}

#wrapper {
  position: relative;
  min-height: 100vh;
}





.logo-area {
  height: 100%;
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  .navbar-brand img {
    max-height: 50px;
    max-width: 220px;
  }
  .sidebar-toggle {
    padding: 10px;
    display: flex;
    height: 100%;
    background: white;
    justify-content: center;
    margin-right: 20px;
    width: 55px;
  }
}


.white-box-card {
  box-shadow: 1px 1px 10px 1px #d8d8d8;
  background: #fff;
}

.profile-dd {
  .profile-img {
    margin: 0 5px;
    border-radius: 50%;
    width: 40px;
  }
  .dropdown-item {
    padding: 7px 1.3rem;  
    img {
      margin-right: 5px;
    }
  }
}
