//Font Family

.primary-font-regular {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.primary-font-semibold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.primary-font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.secondary-font-regular {
  font-family: 'Raleway', serif;
  font-weight: 400;
}
.secondary-font-bold {
  font-family: 'Raleway', serif;
  font-weight: 700;
}


// Heading

.heading {
  @extend .secondary-font-regular;
  color: $text-color;
}

// Default Text

p {
  @extend .primary-font-regular;
  font-weight: 400;
  font-size: 17px; 
  color: $text-color-light;
  margin-bottom: 0;
      line-height: 25px;
}
.text-xxs {
  font-size: 14px;
}
.text-xs {
  font-size: 15px;
}
.text-sm {
  font-size: 17px;
}
.text-md {
  font-size: 22px; //16pt
}
.text-lg {
  font-size: 23px; //17pt
}
.text-btn-xs {
  font-size: 12px;
}

// Alignment
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: justify;
}

@media (max-width: 768px) {
    .text-sm {
      font-size: 15px;
    }
}

.hover-primary {
  @include transition(0.2s);
  &:hover {
    color: $primary_color;
    @include transition(0.2s);
  }
}

.background-text {
    font-size: 14rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgba(0, 25, 255, 0.04);
    z-index: -1;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    text-align: center;
    @media (max-width: 1200px) {
      font-size: 10rem;
    }
    @media (max-width: 992px) {
      font-size: 5rem;
    }
     @media (max-width: 567px) {
      display:none;
    }
  }