.swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  .swiper-button-prev {
    position: relative;
    background-image: url(../img/icons/arrow-left.png);
    background-size: contain;
    width: 50px;
    margin-right: 20px;
  }
  .swiper-button-next {
    position: relative;
    background-image: url(../img/icons/arrow-left.png);
    transform: rotate(180deg);
    background-size: contain;
    width: 50px;
    margin-left: 20px;
  }
}

// .swiper-slide {
//   width: 280px !important;
//   margin-right: 30px;
// }
