.nav-tabs {
  justify-content: center;
  border-color: $border-c-gray-light;
  .nav-item {
    margin: 0 40px;
    margin-bottom: -1px;
  }
  .nav-link {
    border: none;
    border-bottom: 6px solid rgba(0, 0 ,0, 0);
    @extend .proxima-nova-semibold;
    font-size: 18px;
    padding: 0;
    color: $gray-light-color;
  }
  .nav-link.active {
    color: $primary_color;
    border-bottom: 6px solid $primary_color;
  }
}
