.latest-block {
  width: 250px;
  .author {
    font-size: 12px;
    color: $gray-color;
    @extend .proxima-nova-semibold;
  }
  .title {
    font-size: 16px;
    color: $primary_color;
    border-left: 1px solid $gray-color;
    padding-left: 10px;
    @extend .proxima-nova-semibold;
  }
  @media (max-width: 768px) {
    padding-bottom: 20px;
  }
}

.category-block {
  position: relative;
  border-radius: 15px;
  .category-content {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    text-align: center;
    color: $white_text_color;
    h1 {
      font-family: 'PlayfairDisplay Bold', sans-serif;
    }
    .separate {
      border-bottom: 3px solid #ffffff;
      width: 40px;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    p {
      font-style: italic;
    }
  }
}

.two-column-container {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  @media (max-width: 576px) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.column-gap {
  -webkit-column-gap: 5rem;
  -moz-column-gap: 5rem;
  column-gap: 5rem;
}

.letter-block {
  margin-bottom: 30px;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid;
  .letter-list {
    list-style-type: disc;
    margin-left: 20px;
    li {
      @extend .text-xxs;
      color: $text-color-light;
      margin-bottom: 5px;
      a {
        color: $text-color-light;
        @include transition(0.2s);
        @extend .text-xs;
        &:hover {
          color: $primary_color;
          @include transition(0.2s);
        }
      }
    }
  }
}


.content-wrapper {
  background: #fff;
  padding: 70px 90px;
  @media (max-width: 992px) {
    padding: 30px 15px;
  }
}

.action-position {
  position: sticky;
  top: 0px;
  .action-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    img {
      width: 40px;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 992px) and (min-width: 768px) {
    .action-wrapper {
      left: -35px;
    }
  }
  @media (max-width: 767px) {
    position: static;
    margin-top: 25px;
    .action-wrapper {
      top: 10px;
      justify-content: center;
      flex-direction: row;
      right: 0;
      left: 0;
      text-align: center;
      img {
        width: 35px;
        margin: 0 8px;
      }
    }
  }
}

.letter-container {
  a {
    width: 10%;
    display: inline-block;
    @media (max-width: 320px){
      width: 33.3%;
    }
    @media (max-width: 576px) and (min-width: 321px) {
      width: 25%;
    }
    @media (max-width: 768px) and (min-width: 577px) {
      width: 20%;
    }
    @media (max-width: 1200px) and (min-width: 768px) {
      width: 14.2%;
    }
  }
}

.word-detail {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid;
  margin-bottom: 20px;
  .word-title {
    display: flex;
    justify-content: space-between;
    @extend .text-xxs;
    a {
      font-size: 12px;
    }
  }
  ol {
    font-size: 13px;
  }
}


.heading-block {
  margin-bottom: 40px;
}

.head-content {
  @media (max-width: 767px) {
    padding: 0;
    text-align: center;
  }
}

.inner-content {
  margin-top: -60px;
  @media (max-width: 768px) {
    margin-top: 0px;
  }
  @media (max-width: 992px) and (min-width: 768px) {
    margin-top: -20px;
  }
}

.heading-content {
  p {
    @extend .text-xs;
    margin-bottom: 10px
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5rem; 
    margin-bottom: 1rem;
    @extend .proxima-nova-bold;
    span {
      font-size: inherit;
    }
  }
  a {
      color: #2287d7;
  }
  ul, ol {
    @extend .text-xs;
  }
  table {
    margin: 2rem 0;
    width: 100%;
    p {
      margin: 0;
    }
    th {
      background: #d6d6d6;
    }
    th, td {
      padding: 10px;
      border-right: 1px solid #d7d7d7;
      &:first-child {
        border-left: 1px solid #d7d7d7;
      }
    }
    tr {
      border-bottom: 1px solid #d7d7d7;
    }
  }
}
