.pagination {
  .page-item {
    margin: 0 7px;
    .page-link {
      background-color: #cfcfcf;
      color: #ffffff;
      border: none;
      border-radius: 7px;
      @extend .text-xs;
      @extend .proxima-nova-bold;
      @include transition(0.2s);
      line-height: 1rem;
      &:hover {
        @include transition(0.2s);
        background-color: $primary_color;
      }
    }
    &.active {
      .page-link {
        background-color: $primary_color;
        border: none;
      }
    }
  }
}
