//Color

.c-primary {
  color: $primary_color;
}
.c-white {
  color: #ffffff;
}
.c-text {
  color: $text-color;
}
.c-text-light {
  color: $text-color-light;
}

//Background Color

.bg-primary-color {
  background-color: $primary_color;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000;
}
