//Font Family

.primary-font-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.primary-font-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.primary-font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.secondary-font-regular {
  font-family: 'Raleway', serif;
  font-weight: 400;
}
.secondary-font-thin {
  font-family: 'Raleway', serif;
  font-weight: 100;
}


// Default Text

p {
  @extend .primary-font-regular;
  font-size: 16px; //14pt
  color: $text-color;
  margin-bottom: 0;
  line-height: 25px;
  @media (max-width: 567px) {
    font-size: 15px;  
  }
}
.text-size-1 {
  font-size: 60px;
  @media (max-width: 567px) {
    font-size: 40px;  
  }
}
.text-size-2 {
  font-size: 38px;
  @media (max-width: 567px) {
    font-size: 30px;  
  }
}
.text-size-3 {
  font-size: 28px;
  @media (max-width: 567px) {
    font-size: 20px;  
  }
}
.text-size-4 {
  font-size: 22px;
  @media (max-width: 567px) {
    font-size: 18px;  
  }
}
.text-size-large {
  font-size: 150px;
  @media (max-width: 567px) {
    font-size: 75px;  
  }
}

// Alignment
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: justify;
}
.text-underline {
  text-decoration: underline;
}

.hover-primary {
  @include transition(0.2s);
  &:hover {
    color: $primary_color;
    @include transition(0.2s);
  }
}