
/* Color */
$primary_color: #FFBB3D;
$text-color: #474747;
$text-color-light:  #5E5E5E;
$text-color-dark:  #303030;
$border-c-primary: #D1D1D1;
$border-c-gray-light: #c7c8ca;


// Spacing
$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
