@import url(app.css);
table {
  background-color: #dbe0e5;
  width: 100%;
  box-shadow: 0px 12px 34px 0px rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

table th, td {
  padding: 20px 10px;
}

table th {
  font-family: 'latoblack';
  color: #3F515D;
}

table td {
  color: #7E8693;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
}

tr {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #fff;
}

table .img {
  width: 60px;
  height: 60px;
}

.edit-tab.tab-page-links {
  padding: 20px;
}

.project-loading {
  padding: 100px 0;
}

#loader-area {
  padding: 60px;
  background: #fff;
  z-index: 999999999999999999999;
}

#loader-area .sk-folding-cube {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

#loader-area .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#loader-area .sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #56C8C2;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

#loader-area .sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

#loader-area .sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

#loader-area .sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

#loader-area .sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#loader-area .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#loader-area .sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.loading-title {
  font-size: 50px;
  color: #3F515D;
  font-family: 'latolight';
  text-align: center;
  padding: 60px 0;
}

.edit-buttons {
  text-align: right;
}

.edit-buttons img {
  border-radius: 0;
  width: 20px;
  padding-right: 5px;
}

.edit-tab.tab-page-links {
  padding: 20px;
}

.loader_upload {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  position: relative !important;
  background: #f6f7f9 !important;
  z-index: 0 !important;
}

.card-details-position {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
