.list-style {
  .list-parent-title {
    padding: 5px 0;
    font-size: 1.2rem;
    color: $p_text_color;
  }
  .list-child-style {
    padding-left: 10px;
    font-size: 1rem;
    li {
      padding: 4px 0;
    }
  }
}
.tree-list {
  
  li {
    cursor: pointer;
    padding-bottom: 5px;
  }
  li > {
    ul, ol {
      display: none;
    }
  }
  input[type="checkbox"] {
    display: none;
    position: relative;

  }
  label {
    position: relative;
    display: inline-block;
    @extend .primary-font-semibold;
    color: $text_color;
    margin: 0;
    cursor: pointer;
    width: 100%;
    padding-bottom: 5px;
    &:after {
      content: url('../img/icons/arrow-down.svg');
      position: static;
      padding-right: 5px;
      position: absolute;
      right: 0;
    }
    &.active {
      color: $primary_color;
    }
  }
  input[type="checkbox"]:checked + label + {
    ul, ol {
      display: block;
      padding-left: 10px;
    }
  }
  input[type="checkbox"]:checked + {
    label:after {
      transform: rotate(270deg);
    }
  }
}

.abix-tree-list {
  ul {
    padding-left: 20px;
  }
  .collapsed span.icon, .expanded span.icon{
    margin-right: 6px;
    cursor: pointer;
  }
  .icon {
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 5px;
        margin-bottom: -2px;
        cursor: pointer;
  }
  .plus-icon {
    background-image: url(../img/icons/plus.svg);
  }
  .minus-icon {
    background-image: url(../img/icons/minus.svg);
  }
}
.btn-container {
  text-align: right;
  a {
    border-bottom: 1px solid $primary_color;
    font-size: 1rem;
    margin-right: 10px;
    padding-bottom: 2px;
    img {
      width: 20px;
      padding-right: 5px;
      margin-bottom: 5px;
    }
  }
}

.content-style {
  width: 100%;
  h1, h2, h3, h4, h5, h6 {
    @extend .secondary-font-bold;
    color: $text-color-light;
  }
  p {
    @extend .primary-font-regular;
    font-size: 18px
  }
  a {
      color: #2287d7;
  }
  ul, ol {
    @extend .text-xs;
  }
  table {
    margin: 2rem 0;
    width: 100%;
    p {
      margin: 0;
    }
    th {
      background: #d6d6d6;
    }
    th, td {
      padding: 10px;
      border-right: 1px solid #d7d7d7;
      &:first-child {
        border-left: 1px solid #d7d7d7;
      }
    }
    tr {
      border-bottom: 1px solid #d7d7d7;
    }
  }
}

.form-signin {
  width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.card {
    padding: 20px 30px;
    /*box-shadow: 1px 1px 10px 1px #c9c9c9;*/
    border: none;
    margin-bottom: 20px;
}

.doc-block {
  margin-bottom: 20px;
  &::after {
    content: "_";
    font-size: 2rem;
    color: $primary_color;
  }
}

.no-result-block {
  text-align: center;
  img {
    width: 100px;
  }
}

.product-items {
  .product-item {
    text-align: center;
    @extend .border;
    padding: 40px;
    &:hover {
      @include transition(0.2s);
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 4px 36px rgba(0,0,0,0.11),
        0 24px 46px #f4f4f4;
    }
  }
  img {
    border-radius: 50%;
    @extend  .p-box-shadow;
    width: 70px;
    height: 70px;
    margin: auto;
  }
  p {
    margin-top: 20px;
  }

}