@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #636363;
  &:hover {
    text-decoration: none;
  }
}
.tab-content {
  width: 100%;
}
.modal-title {
  color: #636363;
}
