@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:300&subset=latin-ext');
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: #636363;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
.tab-content {
  width: 100%;
}
.modal-title {
  color: #636363;
}
.form-control {
  color: #999;
}
.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 0px;
}
button {
  cursor: pointer;
}
.navbar-brand {
  margin-right: 2rem;
}
