
/* Color */
$primary_color: #503bff;
$gray-color: #999999;
$gray-light-color: #8a8b8b;
$text-color: #363b42;
$text-color-light:  #5b626c;
$border-c-gray: #b1b5b9;
$border-c-gray-light: #c7c8ca;

/*Text Color*/
$p_text_color: #3d3d3d;
$light_text_color: #707070;
$lighter_text_color: #adaba9;
$white_text_color: #ffffff;


// Spacing
$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
