
/*Theme Color */
$primary_color: #00cebe;
$secondary_color: #8447a7;
$third-color: #f8a132;

/*Text Color*/
$p_text_color: #3d3d3d;
$light_text_color: #707070;
$lighter_text_color: #adaba9;

/*Border Color*/
$p_border_color: #d8d8d8;
