<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TOFAS</title>
    <link href="main.css" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
     <script src="app.js"></script>
  </head>
  <body>
    <div id="wrapper" ng-app="appCtrl">
      <div class="background-wrapper" style="background-image: url('white-bg.svg')">
        <div id="nav">
          <img src="logo.png" alt="">
          <div class="today">
            <div class="clock">
              09.35
            </div>
            <div class="recent-date">
              14 Kasım 2017
            </div>
          </div>
        </div>
        <div class="box-style w_60">
          <div class="mini-box" ng-init="workerType=0">
            <h1 class="login-title">Eğitimim Nerede?</h1>
            <div class="worker-type">
              <a class="item" href="#" ng-click="workerType='tofas'">
                <div class="icon-box">
                  <img src="factory.svg" alt="">
                </div>
                <p>TOFAŞ Çalışanıyım</p>
              </a>
              <a class="item" href="#" ng-click="workerType='bayi'">
                <div class="icon-box">
                  <img style="width: 120px !important" src="car.png" alt="">
                </div>
                <p>BAYİ/TEDARİKÇİ Çalışanıyım</p>
              </a>
            </div>

            <!-- Tofas Field -->
            <div style="padding-bottom: 25px" ng-if="workerType=='tofas'">
              <div class="input-field">
                <label for="number">Sicil No</label>
                <input id="number" type="text" name="" value="" placeholder="Sicil Numaranızı başına T koyarak giriniz">
                <p>*Giriş yaptığınız Sicil No bulunamadı!</p>
              </div>
              <div class="text-center">
                <a href="kiosk-detail.html" class="btn-primary" type="button" name="button">SORGULA</a>
              </div>
            </div>

            <!-- Bayi/Tedarikçi Field -->
            <div style="padding-bottom: 25px" ng-if="workerType=='bayi'">
              <div class="input-field">
                <label for="number">TC No</label>
                <input id="number" type="text" name="" value="" placeholder="TC No Girininiz">
                <p>*Lütfen 11 haneli TC Numarınızı giriniz. </p>
              </div>
              <div class="text-center">
                <a href="kiosk-detail.html" class="btn-primary" type="button" name="button">SORGULA</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
