.jumbotron-fluid {
  background: #fff;
  color: $p_text_color;
  box-shadow: 1px 1px 20px 3px #dcdcdc;
}
.card-img-top {
  height: 180px;
}
.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
  background-color: #fff;
  color: $primary_color;
}
.nav-pills .nav-link {
  font-size: 1.5rem;
}
.word-edit-btn {
  button {
    margin-top: 0;
  }
}
