<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ansiklodedi</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="icon" href="assets/img/logo/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body  ng-app="app" ng-init="model = {}">
    <div id="wrapper">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
          <img class="d-none d-lg-block" width="180px" src="assets/img/logo/ansiklodedi_LOGO.svg" alt="">
          <img class="d-block d-lg-none" width="50px" src="assets/img/logo/ansiklodedi_favicon_LOGO.svg" alt="">
        </a>
        <form class="search-area">
          <select class="form-control">
            <option value="">Başlıklar</option>
            <option value="">Sözlük</option>
          </select>
          <input class="form-control" type="search" placeholder="Arama yapmak istediğiniz ifadeyi yazınız." aria-label="Search">
          <button class="button search-btn" type="submit">ARAMA YAP</button>
        </form>
        <button class="navbar-toggler" type="button" id="sidebar-toggle">
          <img width="30px" src="assets/img/icons/hamburger.svg" alt="">
        </button>
          <ul class="navbar-nav ml-auto d-none d-lg-flex">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">ANA SAYFA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="word-letters.html">SÖZLÜK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="categories.html">KATEGORİLER</a>
            </li>
          </ul>
        <!-- <a class="button transparent-btn d-none d-lg-block ml20" href="login.html">GİRİŞ YAP / KAYIT OL</a> -->
        <div class="dropdown d-none d-lg-block d-xs-none">
          <a class="button transparent-btn ml20" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>HESABIM</span> <img src="assets/img/icons/arrow-down-red.svg" alt="">
          </a>

          <div class="dropdown-menu navbar-dropdown" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="heading-create.html">BAŞLIK OLUŞTUR</a>
            <a class="dropdown-item" href="word-create.html">SÖZLÜK MADDESİ OLUŞTUR</a>
            <a class="dropdown-item" href="published-headings.html">YAYINLADIKLARIM</a>
            <a class="dropdown-item" href="change-password.html">ŞİFRE DEĞİŞTİR</a>
            <a class="dropdown-item" href="#">ÇIKIŞ YAP</a>
          </div>
        </div>
      </nav>
      <div id="sidebar"  class="sidebar">
        <div>
          <a class="close-right"> <img src="assets/img/icons/close.svg" alt=""> </a>
          <ul>
            <li><a href="index.html">ANA SAYFA</a></li>
            <li><a href="word-letters.html">SÖZLÜK</a></li>
            <li><a href="categories.html">KATEGORİLER</a></li>
          </ul>
          <div class="border-bottom pt20 mb20"></div>
          <ul>
            <li><a href="heading-create.html">BAŞLIK OLUŞTUR</a></li>
            <li><a href="word-create.html">SÖZLÜK MADDESİ OLUŞTUR</a></li>
            <li><a href="published-headings.html">YAYINLADIKLARIM</a></li>
            <li><a href="change-password.html">ŞİFRE DEĞİŞTİR</a></li>
            <li><a href="#">ÇIKIŞ YAP</a></li>
          </ul>
            <!-- <ul>
              <li> <a href="login.html">GİRİŞ YAP / KAYIT OL</a> </li>
            </ul> -->
        </div>
      </div>
      <div id="content">
        <div class="container">
          <section class="slice-sm mt30">
            <div class="row">
              <div class="col-md-10 offset-md-1 col-xs-12 wow fadeInDown" data-wow-delay="0.2s">
                <h1 class="heading heading-3">Yeni bir başlık oluşturuyorsunuz.</h1>
                <!-- Edit Heading -->
                <!-- <h1 class="heading heading-3">Bir başlığı düzenliyorsunuz.</h1> -->


                <!-- Author -->
                <p class="text-xs">
                  <span class="proxima-nova-bold c-primary pr5">Yazar:</span>
                  <span class="proxima-nova-semibold c-text-light ">Tarık Pazar</span>
                </p>
                <!-- Contributors -->
                <p class="text-xs">
                  <span class="proxima-nova-bold c-primary pr5">Katkıda Bulunanlar:</span>
                  <span class="proxima-nova-semibold c-text-light ">Tarık Pazar</span>
                  <span class="proxima-nova-semibold c-text-light ">, Nadide Dilek</span>
                  <span class="proxima-nova-semibold c-text-light ">, Betül Uzun</span>
                </p>
              </div>
            </div>
          </section>
          <section class="mb30">
            <div class="row">
              <div class="col-md-10 offset-md-1 col-xs-12 wow fadeInDown" data-wow-delay="0.4s">
                <div class="input-style">
                  <div class="input-block">
                    <label for="">BAŞLIK</label>
                    <input type="email" class="form-control" value="İnebahtı Deniz Muharebesi">
                  </div>
                  <div class="input-block">
                    <label for="" style="top: 10px; font-size: 14px;">KATEGORİ</label>
                    <ui-tree-select model="model" class="form-control"></ui-tree-select>
                  </div>
                </div>
                <div class="text-editor">
                  <p class="text-xxs c-gray-light proxima-nova-semibold mb10">YAZMAYA BAŞLA</p>
                  <textarea id="mytextarea">Hello, World!</textarea>
                </div>
                <div class="text-right mt30">
                  <a href="#" class="button gray-btn mr10">İPTAL</a>
                  <a href="#" class="button primary-btn">YAYINLA</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <footer>
        <div class="bg-primary-color p30 text-center c-white">
          ® 2018 Ansiklodedi - Tüm Hakları Saklıdır
        </div>
      </footer>
    </div>


    <script type="text/javascript" src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src='https://devpreview.tiny.cloud/demo/tinymce.min.js'></script>
    <script type="text/javascript" src="assets/js/wow.min.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script>
    new WOW().init();
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.1/select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" type="text/javascript"></script>

    <script src="assets/js/ng-notify.js" type="text/javascript"></script>

    <script >
      angular.module('app', ['ui.select', 'ngSanitize'])

.directive('uiTreeSelect', [
  'groupFactory',
  '$timeout',
  function (groupFactory, $timeout) {
    return {
      restrict: 'E',
      scope: { model: '=' },
      link: function (scope, el) {
        scope.breadcrumbs = [{"id":0,"title":"All"}];
        scope.groups = groupFactory.load(0);

        scope.loadChildGroupsOf = function(group, $select) {
          $select.search = '';
          
          scope.breadcrumbs.push(group);
          scope.groups = groupFactory.load(group.id);
          scope.$broadcast('uiSelectFocus');
        };

        scope.navigateBackTo = function (crumb, $select) {    
          $select.search = '';
          var index = _.findIndex(scope.breadcrumbs, {id: crumb.id});

          scope.breadcrumbs.splice(index + 1, scope.breadcrumbs.length);
          scope.groups = groupFactory.load(_.last(scope.breadcrumbs).id);
          $select.open = false;
          scope.$broadcast('uiSelectFocus');
        };
      },
      templateUrl: '/ui-tree-select.html'
    };
  }
])

// Couldn't get on-focus to work, so wrote my own
.directive('uiSelectFocuser', function ($timeout) {
  return {
    restrict: 'A',
    require: '^uiSelect',
    link: function (scope, elem, attrs, uiSelect) {
      scope.$on('uiSelectFocus', function () {
        $timeout(uiSelect.activate);
      });
    }
  };
})

.factory('groupFactory', [
  function () {
    var data = {
      0: [{"id":1,"title":"Tazzy","size":"57","parent":true},
          {"id":2,"title":"Skimia","size":"67","parent":true},
          {"id":3,"title":"Edgetag","size":"32539","parent":true},
          {"id":4,"title":"Topicware","size":"898","parent":false},
          {"id":5,"title":"Ailane","size":"83","parent":false},
          {"id":6,"title":"Chatterbridge","size":"084","parent":false},
          {"id":7,"title":"Wordtune","size":"8647","parent":false},
          {"id":8,"title":"Demimbu","size":"2255","parent":false},
          {"id":9,"title":"Plajo","size":"9466","parent":true},
          {"id":10,"title":"Skynoodle","size":"0","parent":true}],
      1: [{"id":21,"title":"Plajo","size":"1","parent":true},
          {"id":22,"title":"Kwilith","size":"2071","parent":false},
          {"id":23,"title":"Mydeo","size":"306","parent":false},
          {"id":24,"title":"Jaxbean","size":"5","parent":false},
          {"id":25,"title":"Photojam","size":"54","parent":false}],
      2: [{"id":31,"title":"Blogtag","size":"97084","parent":false},
          {"id":32,"title":"Browsetype","size":"06","parent":false},
          {"id":33,"title":"Voonte","size":"9","parent":false},
          {"id":34,"title":"Omba","size":"71","parent":false},
          {"id":35,"title":"Kwilith","size":"2","parent":false}],
      3: [{"id":41,"title":"Yodo","size":"2","parent":false},
          {"id":42,"title":"Aibox","size":"2152","parent":false},
          {"id":43,"title":"Jetwire","size":"8858","parent":false},
          {"id":44,"title":"Eabox","size":"5","parent":false},
          {"id":45,"title":"Camimbo","size":"36236","parent":false}],
      9: [{"id":51,"title":"Feedbug","size":"28933","parent":false},
          {"id":52,"title":"Aimbu","size":"09711","parent":false},
          {"id":53,"title":"Avavee","size":"12","parent":false},
          {"id":54,"title":"Eare","size":"8","parent":false},
          {"id":55,"title":"Wikivu","size":"3","parent":false}],
      10: [{"id":61,"title":"Tagpad","size":"46","parent":false},
          {"id":62,"title":"Kamba","size":"4","parent":false},
          {"id":63,"title":"Eimbee","size":"26669","parent":false},
          {"id":64,"title":"Twitterlist","size":"95538","parent":false},
          {"id":65,"title":"Rhycero","size":"05","parent":false}],
      21: [{"id":71,"title":"Cogibox","size":"47","parent":false},
          {"id":72,"title":"Dablist","size":"5","parent":false}]
    };
    
    return {
      load: function (id) {
        return data[id];
      }
    }
  }
])

.run(['$templateCache', function ($templateCache) {
  // Overrides selectize template for group select tree.
  $templateCache.put('selectize/choices.tpl.html', [
    '<div ng-show="$select.open"',
    '  class="ui-select-choices group-tree selectize-dropdown single">',
    '  <div ng-show="breadcrumbs.length > 1" class="ui-select-breadcrumbs">',
    '    <span class="ui-breadcrumb" ng-repeat="crumb in breadcrumbs"',
    '       ng-click="navigateBackTo(crumb, $select)">',
    '       {{crumb.title}}',
    '    </span>',
    '  </div>',
    '  <div class="ui-select-choices-content selectize-dropdown-content">',
    '    <div class="ui-select-choices-group optgroup">',
    '      <div ng-show="$select.isGrouped"',
    '        class="ui-select-choices-group-label optgroup-header">',
    '        {{$group}}',
    '      </div>',
    '      <div class="ui-select-choices-row">',
    '        <div class="option ui-select-choices-row-inner"',
    '           data-selectable="">',
    '        </div>',
    '      </div>',
    '    </div>',
    '  </div>',
    '</div>'
  ].join(''));
}])




    </script>

    <script type="text/ng-template" id="/ui-tree-select.html">   
    <ui-select
      ng-model="model.$selected"
      ui-select-focuser
      theme="selectize">
      <ui-select-match placeholder="Kategori Seçiniz">
        {{ $select.selected.title }}
      </ui-select-match>

      <ui-select-choices repeat="group in groups | filter: $select.search">
        <div>
          <span ng-bind-html="group.title | highlight: $select.search"></span>
          <span ng-bind-html="'('+group.size+' users)'"></span>
          <a href
            ng-show="group.parent"
            class="goto-child-group"
            ng-click="loadChildGroupsOf(group, $select)">
          </a>
        </div>
      </ui-select-choices>
    </ui-select>
  </script>
  </body>
</html>
