.heatmaps{
	width: 22%;
}

.main-scene-info{
	margin-bottom: 10px;
	height: 550px;
}

.scene-info{
	display: inline-block;
    position: relative;
    width: 45%;
    padding: 15px;
    background: rgba(186, 194, 200, 0.25);
    height: 550px;
}

.video-info{
    width: 100%;
    height: 420px;
		position: relative;
}

.scene-stats-table{
	width: 100%;
    position: relative;
    border-collapse: collapse;
    border: 12px solid transparent;
}

.stats-cell{
	vertical-align: middle;
    text-align: left;
    padding: 10px 10px 10px 0;
    font-size: 14px;
    width: 50%;
    border-bottom: 1px solid rgba(131, 151, 167, 0.5);
}

.second-stats-cell{
	font-weight: bold;
    vertical-align: middle;
    text-align: left;
    padding: 10px 10px 10px 0;
    font-size: 14px;
    width: 50%;
    border-bottom: 1px solid rgba(131, 151, 167, 0.5);
}

.title-stats-cell{
	font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #009abd;
}

.description-stats-cell{
	font-size: 15px;
    line-height: 25px;
    text-align: left;
    color: #019ec1;
}

.scene-chart-container{
	width: 100%;
	height: 100%;
	position: absolute;
}

#scene-chart-container path{
    opacity: 1;
}

.highcharts-background{
    opacity: 0
}

.scene-video-container{
	position: absolute;
	width: 100%;
	height: 100%;
	/*min-width: 765px;
	min-height: 445px;*/
	iframe {
		width: 100%;
		height: 420px;
	}
}

.legend{
	display: inline-block;
    width: 100%;
    text-align: right;
    position: relative;
    overflow: hidden;
    height: 45px;
    vertical-align: top;
		@media (max-width: 768px) {
			height: auto;
			margin-bottom: 20px;
		}
}

.legend-title{
	line-height: 40px;
    font-weight: bold;
    font-size: 1em;
}

.legend-text{

}

.legend-color{
	display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin: 0 0.1% 0 1.4%;
}

.main-chart-stats-area{
	position: relative;
    vertical-align: top;
    display: block;
    z-index: 0;
    width: auto;
    padding: 0;
    min-height: 500px;
    font-size: 12px;
    line-height: 1.3;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif, Arial;
}

.chart-svg-stats{
	display: block;
    margin: 20px auto;
    background: #FFF;
    color: #333333;
    overflow: hidden;
    font-size: inherit;
    height: 370px;
    width: 100%;
}



.stats-total {display: block;width: 100%;vertical-align: top;margin: 0;padding: 0px;background: rgba(204, 214, 235, 0.38);color: #474748;text-align: center;}
.stats-total li {display: inline-block;vertical-align: top;position: relative;/*cursor: pointer;*/z-index: 1;width: 24%;padding: 10px 0;text-align: center;color: #474747;}
.stats-total li:after {content: ' ';position: absolute;display: block;right: -1px;width: 2px;top: 20px;bottom: 20px;background: #bac2c8;}
.stats-total li:last-child:after { display: none; }
.stats-total li.active {background: #7e838c;color: #FFFFFF;}
.stats-total li.active .value {color: inherit;}
.stats-total li p {margin: 0;font-size: 14px;line-height: 1.4;}
.stats-total li .description span { color: #8c8c8c; }
.stats-total li.active .description span { color: #F0F0F0; }
.stats-total li .value {font-size: 35px;line-height: 1.4;color: #646668;}
.stats-total li .value sub, .stats-total li .value sup { font-size: 0.5em; }
@media screen and (max-width: 600px) { .stats-total li { width: 50%; }
  .stats-total li .value { font-size: 27px; } }


.top-selects {display: block;position: relative;color: rgba(13, 22, 34, 0.7);}
.top-selects .top-block {display: block;padding: 20px 5px; background: #f6f7fb;}
.top-selects .top-block .top-text { font-size: 16px; line-height: 32px; }
.top-selects .top-block .btn { padding: 0; height: 32px; line-height: 32px; vertical-align: top; }

@media screen and (max-width: 600px) {
	.top-selects .top-selects .top-text {
		display: none;
	}
	.top-selects .top-block {
		padding: 20px 5px 0;
	}
}

.stats-date {
	width: 240px;
	height: 32px;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	border: 1px solid #0694df;
	border-radius: 3px;
}

.analytic-tag {
	background-color: #56c8c2;
	padding: 5px;
	border-radius: 10px;
	color: #fff;
	img {
		width: 15px;
		vertical-align: middle;
	}
}
.scene-stats-table{
	width: 100%;
    position: relative;
    border-collapse: collapse;
    border: 12px solid transparent;
}
.collapse.in.detail-row-analytics{
	display: table-row;
}
.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

tr.collapse.show {
  display: table-row;
}

tbody.collapse.show {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.table-container {
	overflow-y: auto;
	overflow-x: hidden;
}

.download-report {
	position: absolute;
	right: 0;
	top: 17px;
}

.simple-table {
	overflow-x: auto;
	padding: 1px;
}
