.edit-tab.tab-page-links {
  padding: 20px;
}

#loader-area{
  padding: 60px;
  background: #fff;
  z-index: 999999999999999999999;
  .sk-folding-cube {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #56C8C2;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
}

.loading-title {
  font-size: 50px;
  color: #3F515D;
  font-family: 'latolight';
  text-align: center;
  padding: 60px 0;
  @media (max-width: 768px) {
    font-size: 27px;
  }
}

.big-title {
  @extend .loading-title;
  padding: 20px 0;
  text-align: left;
}

.edit-buttons {
  text-align: right;
  margin-bottom: 20px;
  img {
    border-radius: 0;
    width: 15px;
  }
  span {
    padding-left: 5px;
  }
}

.edit-tab.tab-page-links {
  padding: 20px;
}


 .loader_upload {
     width: 100% !important;
     height: 100% !important;
     top: 0 !important;
     left: 0 !important;
     position:relative !important;
     background:#f6f7f9 !important;
     z-index: 0 !important;
 }

 .card-details-position {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
}


.time-period {
  background: #dcdcdc;
}
.analytic-counts {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  background-color: #2f3f46;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px -5px 10px 1px #bbbbbb;
  .counts-inner {
    padding: 20px 0;
    h2 {
      font-size: 2.5rem;
      font-family: latolight;
      padding-bottom: 10px;
    }
    p {
      font-size: 1rem;
      font-family: latobold;
    }
  }
}
.analytics {
  .pageTexts {
    h4 {
      margin-top: 30px;
    }
  }
}

.list-style {
  max-height: 400px;
  overflow-y: auto;
  li {
    background-color: #f6f7f9;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .view {
    float: right;
    background-color: #56c8c2;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
  }
  &::-webkit-scrollbar {
      width: 7px;;
      background: #3F515D;
      border-radius: 90px;
  }
  &::-webkit-scrollbar-thumb {
    background: #56C8C2;
    border-radius: 10px;
  }
}
.title-search-row{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.searchPage{
  border:1px solid #56C8C2;
  height: 60px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  input{
    height: 100%;
    width:calc(100% - 58px);
    padding-left: 15px;
    background: transparent;
  }
  button{
    background: #56C8C2;
    height: 58px;
    cursor: pointer;
    width: 58px;
  }
}

.analytic-btn {
  img {
    width: 30px;
    background: #56c8c2;
    padding: 5px;
    border-radius: 5px;
    transition: all 300ms;
    &:hover {
      background-color: #2f3f46;
      transition: all 300ms;
    }
  }
}

.project-frame {
  width: 100%;
  height: calc(100vh - 210px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen-toggle {
  width: calc(100vw);
  height: calc(100vh - 112px);
}


.w-100 {
  width: 100%;
}

.imageBig .fullscreen  {
  z-index: 999999;
}

.project-content {
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  margin-top: 10px;
  li {
    line-height: 2rem;
    span {
      color: #676767;
      font-family: latolight;
    }
  }
  h2 {
    font-size: 1.5rem;
    font-family: latolight;
    padding: 10px 0;
    img {
      margin-right: 5px;
      vertical-align: text-top;
    }
  }
}

.slide-box {
  width: 100%;
  height: 375px;
  .slide-frame-box {
    width: 100%;
    height: 100%;
  }
  .slide-buttons {
    display: flex;
    overflow-x: auto;
    padding: 0px 5px 10px 5px;
    button {
      width: 100%;
      min-width: 50px;
      cursor: pointer;
      box-shadow: 1px 1px 10px 1px #5a5a5a;
    }
    &::-webkit-scrollbar {
        height: 7px;
        width: 100%;
        background: #3F515D;
        border-radius: 90px;
    }
    &::-webkit-scrollbar-thumb {
      background: #56C8C2;
      border-radius: 10px;
    }
  }
}

.shareBox {
  padding:15px 35px;
  margin-top: 0;
  margin-bottom: 10px;
}

.pagination {
  img {
    width: 25px;
  }
}

.fullsize {
  position: absolute;
  right: 3%;
  bottom: 23px;
  span {
    padding-left: 10px;
  }
  img {
    width: 15px;
    border-radius: 0;
  }
}
.members.tags ul li {
  margin: 0 5px;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 2px solid #F4F5F7;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  .edit-buttons {
    margin-bottom: 0;
    display: flex;
    a {
      margin: 0 3px;
    }
  }
  .share-buttons {
    img {
      width: 40px;
      vertical-align: middle;
    }
    span {
      color: #56c8c2;
      font-size: 1rem;
      padding-left: 8px;
      font-family: latoblack;
    }
    a {
      margin: 0 10px;
      &.like {
        padding-left: 0;
        padding-right: 0;
        transition: all 300ms;
        &:hover img {
          opacity: .5;
        }
      }
      &.unlike img{
        transform: rotate(180deg);
      }
      &.like.selected img{
        opacity: 0.5;
      }
    }
  }
}

.embedCopy {
  padding: 20px;
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;
  textarea {
    width: 100%;
    color: #7E8693;
    font-size: 15px;
    background: #F6F7F9;
    resize: none;
    padding: 15px;
    border-radius: 5px;
    min-height: 115px;
    margin-bottom: 10px;
  }
}
.project-desc {
  height: 400px;

  @media (min-width: 768px) {
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
  @media (max-width: 768px) {
    height: auto;
  }
}
span.title {
    font-size: 20px;
    color: #3F515D;
    font-family: 'latoblack';
    margin-bottom: 5px;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid #D6D6D6;
}

@media (max-width: 768px) {
  .mobile-full-screen {
    padding: 0;
    padding-bottom: 10px;
  }
  .imageBig .pagination {
    padding-top: 10px;
  }
  .fullsize {
    bottom: 13px;
    .main-btn{
      padding: 8px 20px;
    }
  }
  .imageBig .pagination ul li a {
    height: 30px;
  }
  .project-frame {
    height: calc(100vh - 50px);
  }
  .full-screen-toggle {
    height: calc(100vh - 56px);
  }
}
.d-flex {
  display: flex;
}


.justify-between {
  justify-content: space-between;
}

.login {
  a {
    font-size: 12px;
    font-family: 'latoblack';
    color: #fff;
  }
}
.warningBox {
    &.swiper-slide.wowSlideBox:hover:after {
      display: none;
    }
  }
.img-warning {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    width: 70px;
  }
  p {
    text-align: center;
    padding-top: 10px;
    color: #5d5d5d;
  }
}
.warning-full {
  @extend .img-warning;
  height: auto;
  img {
    width: 250px;
    @media (max-width: 768px) {
      width: 100px;
    }
  }
}

.fullscreen-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  display: none;
  img {
    width: 15px;
    border-radius: 0;
  }
}

.social-icons {
  img {
    height: 15px;
    width: 20px;
    margin-right: 10px;
  }
}
