.edit-tab.tab-page-links {
  padding: 20px;
}

#loader-area{
  padding: 60px;
  background: #fff;
  z-index: 999999999999999999999;
  .sk-folding-cube {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #56C8C2;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
}

.loading-title {
  font-size: 50px;
  color: #3F515D;
  font-family: 'latolight';
  text-align: center;
  padding: 60px 0;
  @media (max-width: 768px) {
    font-size: 27px;
  }
}

.big-title {
  @extend .loading-title;
  padding: 20px 0;
  text-align: left;
}

.edit-buttons {
  text-align: right;
  margin-bottom: 20px;
  img {
    border-radius: 0;
    width: 15px;
  }
  span {
    padding-left: 5px;
  }
}

.edit-tab.tab-page-links {
  padding: 20px;
}


 .loader_upload {
     width: 100% !important;
     height: 100% !important;
     top: 0 !important;
     left: 0 !important;
     position:relative !important;
     background:#f6f7f9 !important;
     z-index: 0 !important;
 }

 .card-details-position {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
}


.time-period {
  background: #dcdcdc;
}
.analytic-counts {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  background-color: #2f3f46;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px -5px 10px 1px #bbbbbb;
  .counts-inner {
    padding: 20px 0;
    h2 {
      font-size: 2.5rem;
      font-family: latolight;
      padding-bottom: 10px;
    }
    p {
      font-size: 1rem;
      font-family: latobold;
    }
  }
}
.analytics {
  .pageTexts {
    h4 {
      margin-top: 30px;
    }
  }
}

.list-style {
  max-height: 400px;
  overflow-y: auto;
  li {
    background-color: #f6f7f9;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .view {
    float: right;
    background-color: #56c8c2;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
  }
  &::-webkit-scrollbar {
      width: 7px;;
      background: #3F515D;
      border-radius: 90px;
  }
  &::-webkit-scrollbar-thumb {
    background: #56C8C2;
    border-radius: 10px;
  }
}
.title-search-row{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.searchPage{
  border:1px solid #56C8C2;
  height: 60px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  input{
    height: 100%;
    width:calc(100% - 58px);
    padding-left: 15px;
    background: transparent;
  }
  button{
    background: #56C8C2;
    height: 58px;
    cursor: pointer;
    width: 58px;
  }
}

.analytic-btn {
  img {
    width: 30px;
    background: #56c8c2;
    padding: 5px;
    border-radius: 5px;
    transition: all 300ms;
    &:hover {
      background-color: #2f3f46;
      transition: all 300ms;
    }
  }
}

.project-frame {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen-toggle {
  width: calc(100vw);
  height: calc(100vh - 112px);
}


.w-100 {
  width: 100%;
}

.imageBig .fullscreen  {
  z-index: 999999;
}

.project-content {
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  margin-top: 10px;
  li {
    line-height: 2rem;
    span {
      color: #676767;
      font-family: latolight;
    }
  }
  h2 {
    font-size: 1.5rem;
    font-family: latolight;
    padding: 10px 0;
    img {
      margin-right: 5px;
      vertical-align: text-top;
    }
  }
}

.slide-box {
  width: 100%;
  height: 375px;
  .slide-frame-box {
    width: 100%;
    height: 100%;
  }
  .slide-buttons {
    display: flex;
    overflow-x: auto;
    padding: 0px 5px 10px 5px;
    button {
      width: 100%;
      min-width: 50px;
      cursor: pointer;
      box-shadow: 1px 1px 10px 1px #5a5a5a;
    }
    &::-webkit-scrollbar {
        height: 7px;
        width: 100%;
        background: #3F515D;
        border-radius: 90px;
    }
    &::-webkit-scrollbar-thumb {
      background: #56C8C2;
      border-radius: 10px;
    }
  }
}

.shareBox {
  padding:15px 35px;
  margin-top: 0;
  margin-bottom: 10px;
}

.pagination {
  img {
    width: 25px;
  }
}

.fullsize {
  position: absolute;
  right: 3%;
  bottom: 23px;
  span {
    padding-left: 10px;
  }
  img {
    width: 15px;
    border-radius: 0;
  }
}
.members.tags ul li {
  margin: 0 5px;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 2px solid #F4F5F7;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  .edit-buttons {
    margin-bottom: 0;
    display: flex;
    a {
      margin: 0 3px;
    }
  }
  .share-buttons {
    img {
      width: 40px;
      vertical-align: middle;
    }
    span {
      color: #56c8c2;
      font-size: 1rem;
      padding-left: 8px;
      font-family: latoblack;
    }
    a {
      margin: 0 10px;
      &.like {
        padding-left: 0;
        padding-right: 0;
        transition: all 300ms;
        &:hover img {
          opacity: .5;
        }
      }
      &.unlike img{
        transform: rotate(180deg);
      }
      &.like.selected img{
        opacity: 0.5;
      }
    }
  }
}

.embedCopy {
  padding: 20px;
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;
  textarea {
    width: 100%;
    color: #7E8693;
    font-size: 15px;
    background: #F6F7F9;
    resize: none;
    padding: 15px;
    border-radius: 5px;
    min-height: 115px;
    margin-bottom: 10px;
  }
}
.project-desc {
  height: 350px;

  @media (min-width: 768px) {
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
  @media (max-width: 768px) {
    height: auto;
  }
}
span.title {
    font-size: 20px;
    color: #3F515D;
    font-family: 'latoblack';
    margin-bottom: 5px;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid #D6D6D6;
}

@media (max-width: 768px) {
  .mobile-full-screen {
    padding: 0;
    padding-bottom: 10px;
  }
  .imageBig .pagination {
    padding-top: 10px;
  }
  .fullsize {
    bottom: 12px;
    .main-btn{
      padding: 7px 20px;
    }
  }
  .imageBig .pagination ul li a {
    height: 30px !important;
  }
  .profile-in-project.right-items {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .full-screen-toggle {
    height: calc(100vh - 56px);
  }
  .imageBig .pagination ul li.coloured:first-child a {
    padding-right: 0;
  }
  .imageBig .pagination ul li.coloured:last-child a {
    padding-left: 0;
  }
  .imageBig .pagination ul li a {
    min-width: 35px;
  }
  .action-buttons {
    display: block;
  }
  .share-buttons {
    margin-top: 70px;
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
    text-align: center;
  }
}
.d-flex {
  display: flex;
}


.justify-between {
  justify-content: space-between;
}

.login {
  a {
    font-size: 12px;
    font-family: 'latoblack';
    color: #fff;
  }
}
.warningBox {
    &.swiper-slide.wowSlideBox:hover:after {
      display: none;
    }
  }
.img-warning {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    width: 70px;
  }
  p {
    text-align: center;
    padding-top: 10px;
    color: #5d5d5d;
  }
}
.warning-full {
  @extend .img-warning;
  height: auto;
  img {
    width: 250px;
    @media (max-width: 768px) {
      width: 100px;
    }
  }
}

.social-icons {
  img {
    height: 15px;
    width: 20px;
    margin-right: 10px;
  }
}
.big-search {
  width: 50vw;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 97% 50%;
  color: #525252;
  font-size: 1.1rem;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.bar-search {
    height: 40px;
    border: 6px solid #fff;
    width: 250px;
    background: #fff;
    z-index: 9999;
    -ms-box-shadow:  0 2px 10px rgba(186, 186, 186, 0.5);
    -o-box-shadow: 0 2px 10px rgba(186, 186, 186, 0.5);
    box-shadow: 0 2px 10px rgba(186, 186, 186, 0.5);
    border-radius: 5px;
    &.categoryItem {
      top: 0;
      left: -250px !important;
      -webkit-transform: scale(0, 3);
      -ms-transform: scale(0, 3);
      transform: scale(0, 3);
    }
    input {
      width: calc(100% - 40px);
      height: 100%;
      padding: 0 10px;
    }
    button {
      width: 40px;
      background: #56C8C2;
      height: 40px;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
    }
}


.simple-table {
  table {
    td {
      border-right: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      background: #fff;
      line-height: 20px;
      padding: 15px 10px;
    }
  }
}

.noResult {
  text-align: center;
  padding: 20px 0;
  p {
    color: #808080;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.m-auto {
  margin: auto;
}

.sitemap {
  @extend .pageLinks;
  ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-bottom: 30px;
    a {
      padding: 0;
      padding-left: 15px;
      line-height: 3rem;
      font-family: 'latomedium';
      text-transform: capitalize;
    }
  }
}
.modal-content {
  p {
    padding-bottom: 15px;
    color: #1d1d1d;
    font-family: 'latolight';
    line-height: 30px;
  }
  .main-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
}

.m_b_20 {
  margin-bottom: 20px;
}
.m_t_20 {
  margin-top: 20px;
}
.p_20 {
  padding: 20px;
}
.p_t_20 {
  padding-top: 20px;
}
.selects-area {
  margin: 20px 15px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

.select-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  h2.title {
    color: #3F515D;
    font-family: 'latoblack';
    text-transform: uppercase;
    img {
      vertical-align: middle;
    }
  }
}

.select-position-inline {
  padding: 20px 0;
}

.select-wrapper {
  width: 30%;
  display: inline-block;
  margin: 5px;
}

.ui-select-container {
  width: 100%;
  min-width: 162px;
}

.select2-results li {
  padding: 5px 0;
  font-family: 'latolight';
}


.select2-container .select2-choice {
    padding: 5px 0px 0px 8px;
    font-family: 'latomedium';
    height: 40px;
    background-image: none;
    .select2-arrow  {
        background: #fff;
        background-image: none;
        border: none;

      b {
        margin-top: 5px;
      }
  }
}
.select-sort {
  display: flex;
}
.desc-btn {
  a {
    font-family: 'latoblack';
    color: #fff;
    padding: 12px 10px;
    border-radius: 5px;
    background: #f0b841;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: all 300ms;
    font-size: 0.8rem;
    &:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    &.up {
      transform: rotate(180deg);
    }
  }
}
.checkbox-filter {
  label {
    padding-right: 9px;
  }
}

.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}

.no-icon {
  padding: 10px;
}

.ui-select-multiple.ui-select-bootstrap {
  width: 100% !important;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  background: #5fc8c1;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.ui-select-match span {
  display: inline-block;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  vertical-align: middle;
}

.related-projects {
  .swiper-slide.wowSlideBox {
    min-height: auto;
    height: 230px;
    .img {
      height: 150px;
    }
  }
  @media (max-width: 994px) {
    margin-top: 30px;
  }
}

.curated {
  position: absolute;
  top: 38%;
  right: 15px;
  z-index: 99;
}

.profile-in-project {
  .profile-info {
    display: flex;
    align-items: center;
    .img {
      border: 3px solid #F6F7F9;
      width: 42px;
      height: 42px;
      display: block;
      margin-right: 18px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name {
      h3 {
        font-size: 1.2rem;
        color: #40525e;
        font-family: 'latoblack';
      }
      p {
        font-size: 0.8rem;
        color: gray;
        padding-top: 5px;
      }
    }
  }
  &.right-items .social{
    float: none;
    top: 10px;
    left: 60px;
    li  a {
      width: 35px;
      height: 35px;
      background: gray;
      img {
        height: 14px;
      }
      &.add-user {
        background: #5fc8c1;
        img {
          height: 22px;
        }
      }
      &.remove-user {
        background: gray;
        img {
          height: 22px;
        }
      }
    }
  }
}

.filter-area {
  padding: 0 20px;

  .bar-search {
    width: 100%;
    margin: 0 20px;
    position: relative;
    button {
      top: -6px;
      right: -7px;
    }
  }
  .select-position h2.title {
    width: 180px;
  }
}

.filter-wrapper {
  background: #fff;
  margin-bottom: 20px;
  .advanced-filter {
      padding: 0px 10px;
    .ui-select-container {
        padding: 20px 10px;
    }
    .checkbox-style {
      padding: 0px 0px 20px 10px;
    }
  }
}


.alphabet {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  a {
    color: #5d5d5d;
  }
  li {
    padding: 5px;
  }
  li.active {
    border-bottom: 5px solid #5fc8c1;
  }
  @media (max-width: 380px) {
    font-size: 1rem;
  }
}

.background-panel {
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tag-title {
  font-size: 20px;
  color: #3F515D;
  font-family: 'latoblack';
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
}

.page-tags {
  margin: 10px 0;
  li {
    padding: 5px 10px;
  }
  a {
    color: #39819c;
  }
}

.upload.trans {
  a {
    display: inline-block !important;
    padding: 0 !important;
  }
}

.user-bar .search {
  background: none;
}

.bg-404 {
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 60%;
  @media (max-width: 768px) {
    height: 30%;
  }
}

.error-wrapper {
  height: calc(100vh - 90px);
  background: linear-gradient(to top, #bdc7ff, #ffffff);
  background-size: cover;
  background-position: center;
  p {
    font-size: 30rem;
    text-align: center;
    color: #51aeb4;
    text-shadow: 5px 5px 10px #004e54;

  }
  span {
    font-size: 2.5rem;
    width: 40%;
    align-self: center;
    color: #2b3b58;
  }
  &.dark {
    background: linear-gradient(to bottom, #5fc8c1, #093637);
    p {
      color: #fff;
      text-shadow: 2px 2px 2px #000;
    }
    span {
      color: #fff;
    }
  }
  @media (max-width: 1299px) and (min-width: 954px) {
    p {
      font-size: 25rem;
    }
  }
  @media (max-width: 955px) and (min-width: 767px) {
    p {
      font-size: 20rem;
    }
  }
  @media (max-width: 768px) {
    p {
      font-size: 7rem;
    }
    span {
      font-size: 1.5rem;
    }
    .centered {
      display: block;
      width: 50%;
      text-align: center;
      margin: auto;
    }
  }
  @media (max-width: 768px) {
    height: calc(100vh - 62px);
  }
}


.error3-wrapper {
  height: calc(100vh - 90px);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  .error-style {
    margin-bottom: 7%;
    width: 60%;
    p {
      font-size: 15rem;
      color: #232c33;
    }
    span {
      font-size: 2.5rem;
      color: #2b2b2b;
      line-height: 2.7rem;
    }
    @media (max-width: 768px) {
      p {
        font-size: 8rem;
      }
      span {
        font-size: 2rem;
      }
    }
  }
  @media (max-width: 768px) {
    height: calc(100vh - 62px);
  }
}


.justify-left {
  justify-content: flex-start;
  text-align: left;
}
