table {
  background-color: #dbe0e5;
  width: 100%;
  box-shadow: 0px 12px 34px 0px rgba(178,178,178,0.5);
  border-radius: 5px;
}
table th,td {
  padding: 20px 10px;
}

table th {
  font-family: 'latoblack';
  color: #3F515D;
  vertical-align: middle;
}

table td {
  color: #7E8693;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
}
tr {
  text-align: left;
}
tr:nth-child(even) {
    background-color: #fff;
}

table .img {
  width: 60px;
  height: 60px;
}

.big-table {
  @media screen and (max-width: 994px) {
    border: none;
    table {
      border: none;
      thead {
        display: none;
      }
      tr {
        display: block;
        margin-bottom: 20px;
        border: 1px solid #D8DEE4;
        border-radius: 3px;
        &:last-child {
          border-bottom: 1px solid #D8DEE4;
        }
      }
      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
        white-space: normal;
        &::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
          margin-right: 30px;
        }
        &:last-child {
          border-bottom: 0;
        }
        &.td-title {
          background: #ddd;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  .heatmaps {
    width: 100%;
  }
}
