.sidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 260px;
  height: 100vh;
  box-shadow: 1px 1px 10px 1px #c5c5c5;
  padding: 20px;
  background: #fff;
  z-index: 9;
  @include transition(0.5s);
  ul {
    @extend .proxima-nova-semibold;
    @extend .text-xs;
    li {
      padding: 8px 0;
      margin: 4px 0;
    }
  }
}

.close-right {
  position: absolute;
  right: 5px;
  cursor: pointer;
  img {
    width: 35px;
    padding: 10px;
  }
}

#leftsidebar{
  width: 320px;
  min-width: 320px;
  height: 100vh;
  @extend .scroll-y;
  position: sticky;
  top: 0px;
  background: linear-gradient(to bottom, #f3f6ff, #fcfcfc);
  box-shadow: 1px 1px 10px 1px #e1e1e1;
  @include transition(0.3s);
}

#rightsidebar{
  width: 300px;
  min-width: 300px;
  padding: 20px;
  height: 100vh;
  @extend .scroll-y;
  position: sticky;
  top: 0px;
  box-shadow: 1px 1px 10px 1px #e1e1e1;
}
.leftmenu-trigger {
    position: absolute;
    z-index: 9;
    left: 300px;
    top: 17px;
    background: #93a1ff;
    padding: 7px 17px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include transition(0.3s);
    img {
      width: 20px;
      @include transition(0.3s);
    }
    &.triggered {
      left: 0;
      @include transition(0.3s);
      img {
        transform: rotate(180deg);
        @include transition(0.3s);
      }
    }
}

.triggered-sidebar {
  margin-left: -300px;
  @include transition(0.3s);
}